ul.map-level-0 > li > a {
	font-weight: bold;
  font-size: 18px;
}

ul.map-level-1 > li > a {
  font-size: 15px;
  font-weight: bold;
}

.map-level-2 li { display: inline-block; }

ul.map-level-1 > li { width: 100%; }


ul.map-level-0 li {margin-right: 10px !important;}

ul.map-level-1 a, ul.map-level-3 a { font-weight: normal; }

.map-columns td { vertical-align: top; }

.map-catalog {display: flex; flex-wrap: wrap; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex;}


.right_block ul[class*='map-level'] { margin: 0 0 10px; }
.right_block ul.map-level-1,
.right_block ul.map-level-2 { margin-top: 10px }
