.box-opinion {
  padding-top: 20px;
  margin-bottom: -25px;
}
.box-opinion .bx-controls {
  display: none;
}
.box-opinion .caption {
  
}
.box-opinion .slide {
  background-color: #f6f7f8;
}
.box-opinion .item {
  color: #000;
  float: left;
  padding: 48px 20px 47px 75px;
  width: 50%;
  box-sizing: border-box;
}
.box-opinion .item .photo-wrapper {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
.box-opinion .item .info {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  margin-left: 17px;
  width: 60%;
}

.box-opinion .item .salary {
  font-size: 15px;
  line-height: 21px;
  background-color: #ffdd2d;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
  padding: 4px 11px;
}

.box-opinion .item .text {
  font-size: 14px;
  line-height: 23px;
  margin-top: 22px;
  margin-left: 2px;
  position: relative;
  opacity: 0.8;
}
.box-opinion .item .text:before {
  position: absolute;
  content: '—';
  top: 0;
  left: -22px;
  font-family: arial;
}

.opinion-arrow {
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-left: 1px solid #979797;
  border-bottom: 1px solid #979797;
  -webkit-transition: border .3s;
  transition: border .3s;
}
.box-opinion:hover .opinion-arrow {
  opacity: 1;
}
.opinion-arrow.next {
  right: -61px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.opinion-arrow.prev {
  left: -61px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.opinion-arrow:hover {
  border-color: #000;
}
.opinion-arrow a {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1310px) {
  .opinion-arrow {
    display: none;
  }
}
@media only screen and (max-width: 620px) {
  .box-opinion .item {
    float: none;
    width: 100%;
    padding: 38px 20px 17px 45px;
  }
}