.web-sites .label_block, .point-of-sale .label_block{margin-bottom:10px;}
.add-new-field-block{
    margin-top: -5px;
    line-height: 1em;
}
font.notetext {
    color: green !important;
}
input:disabled,
textarea:disabled {
    background-color: #fff !important;
}