/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.reviews, .reviews div, .reviews span, .reviews applet, .reviews object, .reviews iframe,
.reviews h1, .reviews h2, .reviews h3, .reviews h4, .reviews h5, .reviews h6, .reviews p, .reviews blockquote, .reviews pre,
.reviews a, .reviews abbr, .reviews acronym, .reviews address, .reviews big, .reviews cite, .reviews code,
.reviews del, .reviews dfn, .reviews em, .reviews img, .reviews ins, .reviews kbd, .reviews q, .reviews s, .reviews samp,
.reviews small, .reviews strike, .reviews strong, .reviews sub, .reviews sup, .reviews tt, .reviews var,
.reviews b,.reviews  u,.reviews  i,.reviews  center,
.reviews dl, .reviews dt, .reviews dd, .reviews ol, .reviews ul, .reviews li,
.reviews fieldset, .reviews form, .reviews label, .reviews legend,
.reviews table, .reviews caption, .reviews tbody, .reviews tfoot, .reviews thead, .reviews tr, .reviews th, .reviews td,
.reviews article, .reviews aside, .reviews canvas, .reviews details, .reviews embed, 
.reviews figure, .reviews figcaption, .reviews footer, .reviews header, .reviews hgroup, 
.reviews menu, .reviews nav, .reviews output, .reviews ruby, .reviews section, .reviews summary,
.reviews time, .reviews mark, .reviews audio, .reviews video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
.reviews article, .reviews aside, .reviews details, .reviews figcaption, .reviews figure, 
.reviews footer, .reviews header, .reviews hgroup, .reviews menu, .reviews nav, .reviews section, .reviews main {
	display: block;
}
.reviews {
	line-height: 1;
}
.reviews ol, .reviews ul {
	list-style: none;
}
.reviews blockquote, .reviews q {
	quotes: none;
}
.reviews blockquote:before, .reviews blockquote:after,
.reviews q:before, .reviews q:after {
	content: '';
	content: none;
}
.reviews table {
	border-collapse: collapse;
	border-spacing: 0;
}