.cart-page * { box-sizing: border-box; }

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart-page .counter-units-wrapp {
  text-align: left!important;
  margin: 0 auto;
  padding-left: 22px;
  width: 124px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #333333;
}
.cart-page .counter-units-wrapp .counter_block label {
  color: #333;
  opacity: .5;
}

.cart-page .counter-units-wrapp .counter_block {
  border: 0 none;
  width: auto;
  height: auto;
  margin-bottom: 5px;
}
.cart-page .counter-units-wrapp .counter_block input[type="text"] {
  width: 80px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  line-height: normal;
}

.quantity .q-btn {
  width: 25px;
  height: 30px;
  border: 1px solid #e5e5e5;
  line-height: 28px;
  font-size: 17px;
  color: #777;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color .2s;
}

.quantity .q-btn:hover { color: #000; }

.quantity .q-btn.decrement {
  line-height: 27px;
  border-radius: 2px 0 0 2px;
}

.quantity .q-btn.increment {
  border-radius: 0 2px 2px 0;
}

.quantity .q-btn.disabled {
  opacity: .6;
  pointer-events: none;
}

.quantity input.q-result {
  border: none;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background: #f7f7f7;
  max-width: 30px !important;
  font-weight: 500;
  width: 100%;
  padding: 7px 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  height: 30px;
  color: #333333;
  text-align: center;
  user-select: none;
  outline: none;
}

.quantity input.q-result::-webkit-inner-spin-button, .quantity input.q-result::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

table.styled-table {
  width: 100%;
  margin-bottom: 22px;
  color: #333;
}

table.styled-table .row {
  font-size: 15px;
  line-height: 20px;
}

table.styled-table .row.table-head {
  opacity: .5;
}

table.styled-table .row.table-head td {
  padding-bottom: 11px;
}

table.styled-table .row .hidden {
  display: none;
}

table.styled-table td {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 9px;
  padding-bottom: 10px;
}

table.styled-table td:not(.btns) {
  padding-right: 10px;
}

table.styled-table td .quantity {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

table.styled-table td:not(.product) {
  text-align: center;
}

table.styled-table td.btns {
  min-width: 65px;
  text-align: right;
}

table.styled-table td.price, table.styled-table td.summ {
  min-width: 110px;
}

table.styled-table td.price .old_price {
  font-size: 11px;
  text-decoration: line-through;
  color: #777;
}

table.styled-table img {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin-right: 16px;
}

table.styled-table .product {
  width: 552px;
  font-size: 0;
}

table.styled-table .product a {
  font-size: 15px;
  display: inline-block;
  max-width: 400px;
  vertical-align: middle;
}

table.styled-table .product a span {
  font-size: 15px;
  color: #005fb1;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

table.styled-table .product a:hover span {
  color: #333;
}

table.styled-table .btns {
  font-size: 0;
}

table.styled-table .btns .add-to-fav {
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 19px;
  background: url(img/heart-b.png) center center no-repeat;
  background-size: 23px;
  opacity: .1;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
  cursor: pointer;
}

table.styled-table .btns .add-to-fav:hover {
  opacity: .6;
}

table.styled-table .btns .remove {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  margin-left: 20px;
  opacity: .1;
  cursor: pointer;
  background: url(img/close-b.svg) center center no-repeat;
  background-size: 30px;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

table.styled-table .btns .remove:hover {
  opacity: .6;
}

.total-row {
  text-align: right;
  -webkit-font-smoothing: auto;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 25px;
}

.total-row .total-summ {
  margin-left: 9px;
  color: #000;
  font-size: 20px;
  line-height: 20px;
}

.cart-page .page-title {
  margin-bottom: 25px;
}

.order-form-wrap {
  display: none;
}

.order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px 0 39px;
}

.order-form .fields-block {
  max-width: 400px;
}

.order-form .fields-block .page-sub-title {
  margin-bottom: 30px;
}

.order-form .checkboxes-block {
  width: calc(100% - 400px);
  padding-left: 40px;
}

.order-form .checkboxes-block .page-sub-title {
  margin-bottom: 22px;
}

.order-form .checkboxes-block .checkbox-list {
  margin-bottom: 10px;
}

.order-form .checkboxes-block .checkbox-list:not(:first-child) {
  margin-top: 20px;
}

.order-form .checkboxes-block .checkbox-list label {
  padding-left: 40px;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}

.order-form .explain-text {
  padding-left: 40px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: auto;
}

.order-form .payments {
  margin-top: 3px;
}

.columns-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.columns-block .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 30px;
  width: calc(50% - 10px);
}

.columns-block .column:not(:first-child) {
  margin-left: 20px;
}

.columns-block .column p {
  margin-bottom: 30px;
  padding-right: 10px;
}

.order-form .columns-block .column {
  width: calc(50% - 20px);
  margin-bottom: 30px;
}

.order-form .columns-block .column:nth-child(2n + 2) {
  margin-left: 40px;
}

.order-form .columns-block .column:nth-child(2n + 1) {
  margin-left: 0;
}

.order-form hr {
  width: 100%;
  height: 2px;
  margin-top: 30px;
  border: none;
  background-color: #e9e9e8;
}

.order-form .user-agree label {
  color: rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: auto;
}

.input-row,
.order-form .fields-block .checkbox-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cart-page .input-row {
  margin: 0;
}

.input-row.wish-date {
  position: relative;
}

.input-row.wish-date label {
  margin-top: -5px;
}

.input-row.wish-date .calendar-picker {
  position: absolute;
  right: 0;
  top: 0;
  height: 33px;
  padding: 8px 8px 4px;
  cursor: pointer;
  transition: opacity .2s;
}

.input-row.wish-date .calendar-picker:hover {
  opacity: .8;
}

.input-row.wish-date .field-style {
  padding-right: 32px;
}

.input-row .field-style {
  width: 250px;
  margin-left: 20px;
  max-height: 100px;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 6px 16px 5px;
  transition: border .2s;
}

.input-row .field-style:focus,
.input-row .field-style:hover {
  border-color: #005fb1;
}


.input-row textarea.field-style {
  min-height: 53px;
}

.order-form .fields-block .checkbox-list {
  padding-left: calc(100% - 250px);
}

.order-form .fields-block .checkbox-list li {
  width: 250px;
  margin: 0 0 4px;
}

.input-row label {
  width: calc(100% - 250px - 20px);
  line-height: 20px;
  margin-top: 7px;
  text-align: right;
}

.cart-page .input-row label {
  margin-right: 0;
  margin-bottom: 0;
  font-size: 13px;
}

.cart-final-btn {
  margin: 0 0 30px;
  text-align: center;
}

.cart-final-btn .btn.button {
  min-width: 280px;
  color: #0067c0;
  border: 1px solid #005fb1;
  background-color: #fff;
  -webkit-appearance: none;
  padding: 8px 21px 9px 20px;
  background: none;
  font-size: 13px;
  line-height: 20px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.cart-final-btn .btn.button:hover {
  color: #fff;
  background-color: #005fb1;
}

.checkbox-list label {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  color: #000;
  cursor: pointer;
}

.checkbox-list {
  list-style-type: none;
  margin: 8px 0 6px;
  padding: 0;
  max-height: 170px !important;
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-list li {
  margin: 5px 0;
  line-height: 20px;
  font-size: 13px;
  -webkit-font-smoothing: auto;
}

.checkbox-list li:before { content: none; }

.checkbox-list li:first-child {
  margin-top: 0;
}

.checkbox-list li:last-child {
  margin-bottom: 0;
}

.checkbox-list [type='checkbox'],
.checkbox-list [type='radio'] {
  display: none;
}

.checkbox-list [type='checkbox']:checked + label:before,
.checkbox-list [type='radio']:checked + label:before {
  background-color: #0075d9 !important;
}

.checkbox-list label:hover:before {
  background-color: rgba(0, 117, 217, 0.6);
}

.checkbox-list label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 1;
}

.checkbox-list label:before {
  content: '';
  position: absolute;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  background-color: transparent;
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
  z-index: 2;
}

.visa {
  width: 50px;
}

.mastercard {
  width: 30px;
}

.sberbankonline {
  width: 70px;
}

.yandexmoney {
  width: 19px;
}

.etc {
  font-size: 40px;
  line-height: 20px;
  margin-left: 4px;
  margin-bottom: 10px;
}

.payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.payments img {
  margin-right: 10px;
  margin-top: 5px;
}


@media screen and (max-width: 1099px) {

  table.styled-table .product {
    width: auto;
  }
  table.styled-table .product a {
    max-width: calc(100% - 66px);
  }
  .order-form .fields-block {
    margin: 0 auto;
  }
  .order-form .checkboxes-block {
    width: 100%;
    margin: 35px auto 0;
    padding-left: 0;
  }
  .order-form hr {
    margin-top: -20px;
  }
}


@media screen and (max-width: 699px) {
  .columns-block .column {
    width: 100%;
  }
  .columns-block .column:not(:first-child) {
    margin-left: 0;
  }
  table.styled-table {
    display: block;
    padding: 0 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  table.styled-table tbody {
    display: block;
  }
  table.styled-table .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
  }
  table.styled-table .row td {
    border: none;
  }
  table.styled-table .row .product {
    width: 100%;
  }
  table.styled-table .row.table-head {
    display: none;
  }
  table.styled-table .row .hidden {
    display: inline !important;
    visibility: visible !important;
    color: rgba(0, 0, 0, 0.3);
    -webkit-font-smoothing: auto;
  }
}

@media screen and (max-width: 619px) {
  .order-form .columns-block .column {
    width: 100%;
    margin-bottom: 10px;
  }
  .order-form .columns-block .column:not(:first-child) {
    margin-left: 0;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 579px) {
  .columns-block .column {
    width: 100%;
  }

  table.styled-table {
    padding-bottom: 30px;
  }

  table.styled-table .row {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
  }
  table.styled-table td.product {
    width: 100%;
  }

  table.styled-table td.summ,
  table.styled-table td.discount-td,
  table.styled-table td.price {
    position: absolute;
  }



  table.styled-table td.price {
    top: 70px;
    min-width: 50%;
    text-align: left;
  }
  table.styled-table td.summ {
    text-align: left;
  }

  table.styled-table td.discount-td  {
    bottom: -21px;
  }
  table.styled-table td.quantity-td {
    padding-top: 0;
    padding-bottom: 0;
    padding-bottom: 16px;
    width: 100px;
    margin-left: auto;
    text-align: left
  }
  table.styled-table td.btns {
    margin-left: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 65px;
  }

  table.styled-table td.btns {
    min-width: 23px;
    width: 23px;
    margin-top: 9px;
    margin-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
  }
  table.styled-table td.btns .remove {
    margin: 12px 0 0;
  }


  table.styled-table td.quantity-td.with-counter-units {
    width: 100px;
  }

  .cart-page .counter-units-wrapp .counter_block input[type="text"] {
    width: 55px;
  }

  .cart-page .counter-units-wrapp { padding-left: 0; }

  table.styled-table td.summ {
    bottom: 10px;
  }
  table.styled-table td .quantity {
    width: 75px;
    height: 70px;
    border-radius: 2px 2px 20px 20px;
  }

  table.styled-table td.price .old_price {
    margin-top: -6px;
    margin-left: 38px;
  }
}

@media screen and (max-width: 449px) {

  .input-row,
  .order-form .fields-block .checkbox-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .order-form .fields-block .checkbox-list {
    padding-left: 0;
  }

  .order-form .fields-block .checkbox-list li {
    width: 50%;
  }
  .cart-page .input-row label {
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
  }

  .input-row.wish-date label {
    margin-top: 10px;
  }

  .input-row.wish-date .calendar-picker {
    top: 35px;
  }

  .input-row .field-style {
    width: 100%;
    margin-left: 0;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 359px) {
  table.styled-table td.price, table.styled-table td.summ {
    min-width: 0;
  }
}

/*remove some hover's effects on touch device*/
@media not all and (hover: hover) {
  .quantity .q-btn:hover:not(:active) {
    background-color: #dadada;
  }
  .checkbox-list label:hover:before {
    background-color: transparent;
  }
}
