/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

.is-dealer #basket_items_list .bx_ordercart_order_pay_center .oneclickbuy {
  display: none;
}

.subsections-seo {
  box-sizing: border-box;
}
.subsections-seo * {
  box-sizing: border-box;
}
.subsections-seo li {
  padding: 5px 50px 20px 0;
  padding-left: 0 !important;
  float: left;
  width: 33%;
  margin: 0 0 4px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  white-space: normal;
}
.subsections-seo li:nth-child(3n+1) {
  clear: both;
}
.subsections-seo li .image {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
}
.subsections-seo li .image img {
  border-radius: 50%;
  height: 50px;
  vertical-align: middle;
  width: 50px;
}
.subsections-seo li:not(.current) a {
  color: #005fb1;
}
.subsections-seo li .section {
  display: block;
  font-size: 13px;
  line-height: 20px;
  padding: 12px 0px 0px 70px;
  font-weight: 600;
  background: none;
  color: #333333;
}
.subsections-seo li:before {
  display: none !important;
}

@media (max-width: 768px) {
  .subsections-seo li {
    width: 50%;
  }
  .subsections-seo li:nth-child(3n+1) {
    clear: none;
  }
  .subsections-seo li:nth-child(2n+1) {
    clear: both;
  }
}
@media (max-width: 375px) {
  .subsections-seo li {
    width: 100%;
  }
}