.page-catalog .left_block {
  display: none;
}
.page-catalog .right_block {
  padding-left: 0;
}

header .catalog_menu_ext li a.parent {
  background-color: #ffaf1b !important;
  color: #000 !important;
}
header .catalog_menu_ext li.current a.parent {
  color: #fff !important;
}

header .catalog_menu_ext li.catalog:after,
.menu_top_block li.catalog > a:before,
header .menu_top_block li.catalog>.dropdown {
  display: none !important;
}

header .menu_colored .menu_top_block >li.current >a, 
header .menu_dark .menu_top_block.menu >li.current >a, 
header .menu_dark .menu_top_block.menu >li.current:hover >a, 
.menu_top_block.catalog_block .dropdown >li.full:hover>a:before, 
.menu_top_block.catalog_block .dropdown >li.full.current>a, 
header .menu_top_block li.catalog>.dropdown>li.current>a {
  background: none !important;
}

.colored #header .catalog_menu ul.menu > li, header .wrap_menu {
  background-color: #ffaf1b;
  color: #000;
}

header .menu_top_block li .dropdown>li:hover>a, header .menu_top_block li:not(.catalog) .dropdown>li.current >a:not(.section), header .menu_top_block li.catalog>.dropdown>li:hover>a:before {
  background-color: #ffaf1b;
  color: #000;
}

.header_wrap #header .catalog_menu.menu_colored .inc_menu  ul.menu > li:not(.current) > a {
  color: #000;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

.header_wrap #header .catalog_menu.menu_colored .inc_menu  ul.menu > li:not(.current):hover > a {
  background-color: #ffaf1b;
  color: rgba(0,0,0,.6);
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

@media screen and (min-width: 768px) {
  .menu.top.menu_top_block.catalogfirst {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }
}

.dillers-block {
  color: #000;
}

.responcive-table table {
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 991px) {
  .responcive-table {
    overflow-x: auto;
  }

  .responcive-table table {
    width: 1180px;
  }
}

.responcive-table table th,
.responcive-table table td {
  text-align: left;
  font-size: 15px;
}

.responcive-table th {
  position: relative;
  line-height: 1;
}

.responcive-table table th:after {
  content: '';
  position: absolute;
  bottom: -7px;
  height: 5px;
  width: 100%;
  left: 10px;
  right: 10px;
  background-color: #eaebec;
}

.responcive-table table th:last-child:after {
  width: calc(100% - 20px);
}

.responcive-table table th {
  padding: 11px 10px 12px;
  color: rgba(0,0,0,.4);
  font-weight: 400;
  vertical-align: bottom;
  border-bottom: 5px solid transparent;
}

.responcive-table table td.col-count {
  min-width: 86px !important;
}
.responcive-table table td.col-count div {
  white-space: nowrap;
}
.responcive-table table .col-miasure {
  max-width: 90px;
}
.responcive-table table .col-price {
  max-width: 50px;
}
.responcive-table table .col-buy {
  max-width: 30px;
}

div.catalog-section {
  position: relative;
}
.overlay-block-diler {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.6);
}
div.catalog-section .responcive-table table td.col-image {
  width: 65px;
}

div.catalog-section .responcive-table table td.col-article {
  width: 120px;
}
div.catalog-section .responcive-table table td.col-price {
  white-space: nowrap;
}
.responcive-table .analog {
  display: inline-block;
  white-space: nowrap;
  margin-top: 2px;
  padding: 2px 8px 3px;
  line-height: 1;
  border-radius: 3px;
  color: rgba(0,0,0,.5);
  background-color: #eaebec;
  opacity: 1;
  transition: all .2s;
}

.responcive-table .analog:hover {
  opacity: .8;
  transition: all .2s;
}

.responcive-table input[type="text"] {
  padding: 0 9px;
}
.responcive-table input[type="text"]:not(:last-child),
.responcive-table div:not(:last-child) {
  /*margin-bottom: 1px;*/
}

.responcive-table .name {
  width: 400px;
}

.responcive-table .add-to-cart {
  display: inline-block;
  width: 30px;
  height: 100%;
  min-height: 50px;
  border-radius: 2px;
  background-image: url('img/cart.png');
  background-repeat: no-repeat;
  background-position: left 4px center;
  background-color: #eaebec;
  background-size: 20px;
  opacity: 1;
  transition: all .2s;
}

.responcive-table .add-to-cart:hover {
  opacity: .8;
  transition: all .2s;
}

.responcive-table tr:hover .add-to-cart,
.responcive-table tr:hover .analog {
  background-color: #006ac5;
  color: #fff;
  transition: all .2s;
}
.responcive-table .add-to-cart .button.small {
  padding: 0;
  height: 100%;
  opacity: 0;
  width: 30px;
}
.responcive-table .add-to-cart .button.in-cart, 
.responcive-table .add-to-cart .button.in-cart:hover {
  opacity: 1;
}
.responcive-table .add-to-cart .button.in-cart i {
  margin: -6px 0 0 0;
  top: 50%;
  position: absolute;
  left: 10px;
}

div.catalog-section .responcive-table table td {
  vertical-align: top;
  padding: 10px;
  font-size: 15px;
  /* font-weight: 500; */
  line-height: 25px;
  transition: all .2s;
}

.responcive-table tr.is-analog {
  display: none;
}

.responcive-table tr.is-analog.is-analog-show {
  display: table-row;
}

.responcive-table tr td {
  background-color: #fff;
  transition: all .2s;
}

.responcive-table tr.is-analog td {
  background-color: rgba(0,0,0,.05);
}

.responcive-table tr.is-parent {
  box-shadow: 0 3px 3px -3px rgba(0,0,0,.3); 
}

.responcive-table tr.is-parent td {
  background-color: #eaebec;
}

.responcive-table tr:hover td {
  background-color: #eaebec;
}

div.catalog-section .responcive-table table td:first-child {
  border-radius: 4px 0 0 4px;
}

div.catalog-section .responcive-table table td:last-child {
  height: 1px;
  border-radius: 0 4px 4px 0;
}

div.catalog-section .responcive-table table td:not(:last-child) {
  min-width: 50px;
}
.responcive-table td .wrap-img {
  height: 50px;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.responcive-table td .wrap-img:hover {
  opacity: 0.6;
}
.responcive-table td img {
  display: block;
  max-width: 100%;
  margin-top: 3px;
}

.analogs-wrap {
  position: relative;
}
.analogs-table {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  border-top: 2px solid #2975c0;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  margin: 0 !important;
  left: 0;
  top: 21px;
  width: 320px !important;
  transition: all .2s ease;
  z-index: 1;
}
.analogs-wrap:hover .analogs-table {
  opacity: 1;
  visibility: visible;
}
.analogs-table tr {
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.analogs-table tbody tr:nth-last-child(1) {
  border-bottom-width: 0;
}
.analogs-table td {
  padding: 10px 15px !important;
  font-size: 15px !important;
  line-height: 17px !important;
}
.analogs-table thead td {
  text-align: center;
  color: rgba(0,0,0,.5);
  font-size: 13px !important;
  line-height: 15px !important;
}
.analogs-table tbody tr td:nth-last-child(1),
.analogs-table tbody tr td:nth-last-child(2) {
  text-align: right;
}
.analogs-table .button.small {
  padding: 4px 8px 5px 8px !important;
  font-size: 12px;
  line-height: 1;
}

.show-more-btn {
  background-color: #eaebec;
  display: block;
  border-radius: 4px;
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
  font-size: 15px;
  color: rgba(0,0,0,0.5);
  opacity: 1;
  transition: opacity 0.2s ease;
}
.show-more-btn:hover {
  opacity: 0.6;
  color: rgba(0,0,0,0.5);
}

.collection-filter {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -10px;
}

.collection-filter .col {
  width: calc(33.333% - 17px);
  font-size: 15px;
  position: relative;
}
.collection-filter .col.data-empty .overlay-list {
  display: block;
}
.collection-filter .overlay-list {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.6);
  display: none;
}
.collection-filter input[type="text"] {
  padding: 9px 20px;
  font-size: 15px;
  border-radius: 2px 2px 0 0;
}

.collection-filter input[type="text"]::placeholder {
  color: rgba(0,0,0,.4);
}

.collection-filter ul {
  box-sizing: border-box;
  overflow: auto;
  margin: 0;
  padding: 8px 0;
  height: 100%;
  max-height: 220px;
  background-color: #eaebec;
}

.collection-filter ul li:before {
  content: none;
}

.collection-filter ul li {
  padding: 4px 20px 6px;
  margin: 0;
  line-height: 15px;
  cursor: pointer;
}

.collection-filter ul li:hover,
.collection-filter ul li.active {
  color: #fff;
  background-color: #ffaf1b;
}
.collection-filter ul li.hide,
.collection-filter ul li.filter-hide {
  display: none;
}
.collection-filter ul li.no-hide {
  display: block !important;
}
.col-head {
  margin-bottom: 10px;
}

.input-row {
  font-size: 0;
  margin-top: 15px;
}

.input-row label {
  display: inline-block;
  max-width: 230px;
  margin-right: 10px;
  font-size: 15px;
}

.input-row input {
  width: calc(100% - 240px);
  padding: 6px 11px;
  line-height: 1;
  font-size: 15px;
}

/*.smartfilter {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.bx_filter .bx_filter_parameters_box {
  width: calc(100% / 8);
}

.bx_filter .bx_filter_parameters_box {
  padding: 9px 10px 10px;
}

.bx_filter_parameters_box_container span {
  font-size: 13px;
  font-weight: 700;
  color: rgba(0,0,0,.5);
}

.bx_filter .bx_filter_parameters_box_container .button.bx_filter_search_reset {
  border: none;
}

.bx_filter .bx_filter_button_box {}*/



.catalog-price {
  color:red;
}

div.catalog-section table td {
  padding-right:10px;
  padding-top:10px;
}

.smart-form {
  /*margin-left: -8px;*/
  /*margin-right: -8px;*/
  font-size: 0;
}

#smart-filter {
  position: relative;
  padding-top: 10px;
}

.clear-all {
  /*position: absolute;*/
  /*bottom: -20px;*/
  /*right: 0;*/
  /*opacity: 0.5;*/
  width: calc(100% / 8);
  padding: 9px 0 8px;
  border: 1px solid #eaebec;
  border-left: none;
  background-color: #f9f9f9;
  text-align: center;
  color: rgba(0,0,0,.5);
  font-size: 13px;
  font-weight: 700;
  /*line-height: 25px;*/
  text-decoration: none;
  transition: color .2s !important;
}

.clear-all:hover {
  opacity: 1;
  color: rgba(0,0,0,.8);
  transition: color .2s !important;
}

.clear-all span {
  transition: none;
}

.clear-all span {
  margin-right: 14px;
}

.clear-all .fa {
  margin-right: 5px;
}

#article #smart-filter .line {
  padding-bottom: 20px;
}

.filter-container {
  position: relative;
  display: inline-block;
  height: 40px;
  width: calc(100% / 8);
  border: 1px solid #eaebec;
  border-left: none;
  background-color: #f9f9f9;
}

.filter-container:first-child {
  border-left: 1px solid #eaebec;
}

.filter-container span {
  color: #000;
  font-weight: 700;
}
.filter-container .split-value {
  font-weight: 400;
  opacity: 0.5;
}
.filter-container.active {
  background-color: #d7dfe2;
}

.filter-container.active-2 {
  /*padding-right: 28px;*/
  background-color: #ffaf1b;
}


.filter-container.active-2 i {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  width: 20px;
  line-height: 28px;
  text-align: center;
  font-size: 15px;
  border-radius: 0 3px 3px 0;
  background-color: #6b8a94;
}

.filter-head {
  height: 40px;
  padding: 8px 10px;
  cursor: pointer;
}

.filter-head:hover span {
  color: rgba(0,0,0,.6);
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.filter-head span {
  display: inline-block;
  font-size: 13px;
  color: #000;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.filter-head .fa {
  float: right;
  margin-top: 5px;
}

.filter-head.opened .fa {
  transform: rotate(180deg);
}

.filter-head i {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 6px;
  background: url('../../../../../main/images/angle-down.png') center center no-repeat;
  background-size: contain;
  font-size: 0;
  font-style: normal;
  color: #d7dfe2;
}

.smart-form,
.smart-form * {
  box-sizing: border-box;
}

.smart-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}



.filter-droplist {
  position: absolute;
  display: none;
  width: 200px;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: 400;
  left: 50%;
  top: 50px;
  margin-left: -100px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  /*border-radius: 3px;*/
  border: 1px solid #d7dfe2;
  background-color: #fff;
  z-index: 100;
}

.filter-droplist.opened {
  display: block;
}

.filter-droplist:after,
.filter-droplist:before {
  content: '';
  position: absolute;
  left: 90px;
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transform: rotate(360deg);
}

.filter-droplist label {
  cursor: pointer;
}
.filter-droplist [type="checkbox"] {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 7px;
  vertical-align: top;
  margin-top: 3px;
}

.filter-droplist [type="checkbox"] + span,
.filter-droplist i + span {
  display: inline-block;
  max-width: 140px;
  font-weight: 400;
  user-select: none;
  opacity: 1;
  transition: all 0.2s ease;
}
.filter-droplist label:hover span {
  opacity: 0.5;
}


.filter-droplist [type="text"],
.filter-droplist [type="number"] {
  width: 125px;
  height: 30px;
  margin-left: 12px;
  color: #000;
  border: 1px solid #d7dfe2;
  outline: none !important;
  padding: 0 5px;
  background-color: #fff;
}

.fixed-small {
  display: inline-block;
  width: 17px;
}

.filter-droplist:after {
  top: -9px;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
}

.filter-droplist:before {
  top: -10px;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #d7dfe2 transparent;
}

.filter-droplist ul {
  margin-bottom: 9px;
  padding: 0 !important;
  list-style-type: none;
  overflow: auto;
  max-height: 255px;
}

.filter-droplist ul li {
  padding: 0;
  margin-bottom: 6px;
}

.filter-droplist ul li:before {
  content: none;
}

.filter-droplist .button {
  display: block;
  width: 117px;
  height: 35px;
  margin: 0 auto;
  font-size: 12px;
  /*background: url('../../../../../main/images/sp-block.png') 0px -202px no-repeat;*/
  text-decoration: none;
  border: none;
  /*border-radius: 18px;*/
  text-transform: uppercase;
  color: #fff !important;
  text-align: center;
  padding: 2px 0 0 0;
  /*background: #BACA36;*/
  /*background: -moz-linear-gradient(top, #BACA36 0%, #BACA36 50%, #ADC022 50%, #ADC022 100%);*/
  /*background: -webkit-gradient(left top, left bottom, color-stop(0%, #BACA36), color-stop(50%, #BACA36), color-stop(50%, #ADC022), color-stop(100%, #ADC022));*/
  /*background: -webkit-linear-gradient(top, #BACA36 0%, #BACA36 50%, #ADC022 50%, #ADC022 100%);*/
  /*background: -o-linear-gradient(top, #BACA36 0%, #BACA36 50%, #ADC022 50%, #ADC022 100%);*/
  /*background: -ms-linear-gradient(top, #BACA36 0%, #BACA36 50%, #ADC022 50%, #ADC022 100%);*/
  /*background: linear-gradient(to bottom, #BACA36 0%, #BACA36 50%, #ADC022 50%, #ADC022 100%);*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BACA36', endColorstr='#ADC022', GradientType=0 );*/
  opacity: 1;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
  cursor: pointer;
}

.filter-droplist .button:hover {
  opacity: .7;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}


.filter-droplist b {
  display: inline-block;
  width: 17px;
  margin-top: 1px;
  height: 17px;
  border-radius: 9px;
  border: 1px solid #6b8a94;
}

.filter-droplist b.color-1 {
  background:#F5F5DC;
}


.filter-droplist b.color-2 {
  background:#FFF;
}

.filter-droplist b.color-3 {
  background:#30D5C8;
}

.filter-droplist b.color-4 {
  background:#9B2D30;
}

.filter-droplist b.color-5 {
  background:#42AAFF;
}

.filter-droplist b.color-6 {
  background:#FFDB58;
}

.filter-droplist b.color-7 {
  background:#FF0;
}

.filter-droplist b.color-8 {
  background:#008000;
}

.filter-droplist b.color-9 {
  background:#FFD700;
}

.filter-droplist b.color-10 {
  background:#FF7F50;
}


.filter-droplist b.color-11 {
  background:#964B00;
}

.filter-droplist b.color-12 {
  background:#F00;
}

.filter-droplist b.color-13 {
  background:#3EB489;
}

.filter-droplist b.color-14 {
  background:#FFA500;
}

.filter-droplist b.color-15 {
  background:#FFE5B4;
}

.filter-droplist b.color-16 {
  background:#FFC0CB;
}

.filter-droplist b.color-17 {
  background:#C0C0C0;
}

.filter-droplist b.color-18 {
  background:#808080;
}

.filter-droplist b.color-19 {
  background:#00F;
}

.filter-droplist b.color-20 {
  background:#8B00FF;
}

.filter-droplist b.color-21 {
  background:#F754E1;
}

.filter-droplist b.color-22 {
  background:#806B2A;
}

.filter-droplist b.color-23 {
  background:#000;
}

.filter-droplist b + span {
  vertical-align: top;
}

.filter-droplist .no-margin label,
.filter-droplist .no-margin li {
  margin: 0;
}




@media screen and (max-width: 767px) {
  .filter-container,
  .clear-all {
    width: 100%;
    border-left: 1px solid #eaebec;
    margin-top: -1px;
  }
}







@media screen and (max-width: 797px) {
  .collection-filter .col {
    width: 100%;
    margin-bottom: 15px;
  }

  .collection-filter ul {
    max-height: 100px;
  }

  .input-row {
    margin-top: 0;
  }

  .input-row input {
    width: 100%;
  }

  .input-row label {
    margin-bottom: 10px;
  }
}
