/*html.hd {
	background-color: rgb(1, 39, 67);
}*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
.calculatorPopUp .orderPrice{
	color:#000;
}
.marker, .orderPrice {
	color:#FFF;
}
.zeroBox, .zeroBox2{
	width:1000px;
	max-width:1000px;
	background:#fff;
}
*{
	box-sizing:border-box;
	font-family: 'PT Sans', sans-serif !important;
}
body {
	overflow-x: hidden;
    background: url(/bitrix/templates/kerama/images/background2.png);
    background-repeat: no-repeat;
    background-position: top center;
}

a {
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
*{
	color:#000;
}

h1,h2 {
	font-size: 22px;
	line-height: 1.5em;
	margin-bottom: 15px;
}

.eee {
	display: none;
}

.zeroBox {
	margin: 0 auto;
	position: relative;
}
.zeroBox2 {
	margin: 0 auto;
	position: relative;
	background:#363d75;
	padding:20px 40px;
}
.block {
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 30px;
}

.clearFix:after {
	content: "";
	display: block;
	clear: both;
}

.header.hide {
	display: none;
}
.header a{
	color:#363d75;
}
.mainSide{
	padding:0 20px;
	min-height:100vh;
}
p{
	font-size:15px;
}
.mainSide .mainSide{
	padding: 0;
}
.mainSide .mainSide .byCollection{
	padding:0;
	margin:0;
}
.mainSide.hide {
	display: none;
}

.footer.hide {
	display: none;
}

input[type="text"]:hover {
	border: 1px solid #363d75;
}

/*sidebar elements in mainpart*/
	.mainSide .mainPart .news.block,
	.mainSide .mainPart .usefulTips.block {
		display: none;
	}

	.mainSide .mainPart .news.block li {
		margin-bottom: 15px;
	}

	.mainSide .mainPart .usefulTips.block li {
		margin-bottom: 25px;
	}

	.mainSide .mainPart .news.block li:last-child,
	.mainSide .mainPart .usefulTips.block li:last-child {
		margin-bottom: 0;
	}

	.mainSide .mainPart .news.block li a,
	.mainSide .mainPart .usefulTips.block li a {
		text-decoration: none;
		-webkit-transition: all 0.25s;
	    -moz-transition: all 0.25s;
	    -o-transition: all 0.25s;
	    transition: all 0.25s;
	}

	.mainSide .mainPart .news.block li a:hover,
	.mainSide .mainPart .usefulTips.block li a:hover {
		color: #363d75;
	}
/*end sidebar elements in mainpart*/

/*markers*/
	.marker.red{
		color: #f16060;
	}

	.marker.black {
		color: #000;
	}

	.marker.blue {
		color:#283490;
		font-weight:bold;
	}

	.marker.bold {
		font-weight: 700;
	}

	.colorMarker.green {
		background-color: green;
	}

	.colorMarker.blue {
		background-color: blue;
	}
/*end markers*/

/*check box*/
	.checkBoxBtn {
		position: relative;
		top: -2px;
		width: 20px;
		height: 20px;
		float: left;
		margin-right: 5px;
	}

	.checkBoxBtn input {
		display: none;
	}

	.checkBoxTrue,
	.checkBoxFalse {
		height: 20px;
		width: 20px;
		position: absolute;
		top: 0;
		left: 0;
	}

	.checkBoxTrue {
		background: url(../images/checkOn.png) no-repeat 0 0;
		background-size: contain;
		display: none;
	}

	.checkBoxFalse {
		background: url(../images/checkOff.png) no-repeat 0 0;
		background-size: contain;
	}

	.checkBoxTrue:hover {
		background: url(../images/checkOnHover.png) no-repeat 0 0;
		background-size: contain;
	}

	.checkBoxFalse:hover {
		background: url(../images/checkHover.png) no-repeat 0 0;
		background-size: contain
	}

	.checkBoxTrue:hover,
	.checkBoxFalse:hover {
		cursor: default;
	}
/*end check box*/


/*lorem*/
	.loremBlock {
		display: none;

		position: relative;
		padding: 10px 20px;
		background-color: #ededed;
		margin-bottom: 15px;
	}

	.loremBlock.active {
		display: block;
	}

	.loremBlock.white {
		background-color: transparent;
	}

	.loremBlock.white .closeLoremBlock {
		display: none;
	}

	.loremBlock h2 {
		margin-bottom: 0;
		line-height: 1em;
		margin-bottom: 10px;
		width: auto !important;
	}

	.loremBlock p {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.loremBlock p:last-child {
		margin-bottom: 0px;
	}

	.loremBlock .closeLoremBlock {
		position: absolute;
		width: 20px;
		height: 20px;
		background: url(../images/closeBtnOpacBig.png) no-repeat 0 0;
		right: 10px;
		top: 10px;
	}

	.loremBlock .closeLoremBlock:hover {
		cursor: pointer;
		background: url(../images/closeBtnOpacBigHover.png) no-repeat 0 0;
	}
/*end lorem*/
/*lorem*/
	.loremBlock2 {
		display: none;
		position: relative;		
		margin-bottom: 15px;
	}

	.loremBlock2.active {
		display: block;
	}

	.loremBlock2.white {
		background-color: transparent;
	}

	.loremBlock2.white .closeLoremBlock {
		display: none;
	}

	.loremBlock2 h2 {
		margin-bottom: 0;
		line-height: 1em;
		margin-bottom: 10px;
		width: auto !important;
	}

	.loremBlock2 p {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.loremBlock2 p:last-child {
		margin-bottom: 0px;
	}

	
/*header*/
	.header {
		background: #fff;
		font-family: "MyriadProRegular";
		position: relative;
	}

	.header .box {
		width: 30%;
		float: left;
	}

	.header .box:first-child {
		width: 40%;
	}

	.header .logo {
		margin-top: 15px;
	}

	.header .box:first-child a {
		color: #363d75;
		font-weight: 700;
		text-decoration: none;
	}
	.is1mark img{
		width:100%;
		height:auto;
	}
	.is1mark{
		float: right;
		margin-top: -20px;
		width:60px;
		height:60px;
	}

	.header .tel {
		font-size: 25px;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.header .workTime {
		font-size: 14px;
		white-space:nowrap;
	}

	.header .tel,
	.header .workTime {
		width:100%;
		text-align:right;
		margin-left:30px;
	}

	.header .basket {
		background: url(../images/basket.png) no-repeat 0 0;
		padding-left: 55px;
		padding-top: 5px;
		padding-bottom: 5px;
		/*width: 60%;*/
		width: 140px;
		float: right;
		margin-top: 20px;
	}

	.basket .hide {
		display: none;
	}

	.basket .someItems {
		color: #000;
		text-decoration: none;
	}

	.basket .someItems:hover {
		color: #363d75 !important;
		text-decoration: underline;
	}

	.adaptiveBasket {
		display: none;
	}
/*end header*/

/*nav*/
	.nav {
		padding: 10px 0;
	}
	.nav-menu{
		background: #363d75;
		padding: 10px 20px;
	}
	.nav ul li {
		display: inline-block;
		color: #FFF;
		margin-right: 25px;
	}

	.nav ul li:last-child {
		margin-right: 0;
	}

	.nav ul li a {
		color: #FFF;
		font-weight: 500;
		font-size: 18px;
	}

	.nav ul li a:hover {
		color: #e2e2e2;
	}
/*end nav*/


/*index*/
	/*mainPart*/
		.mainPart {
			/*width: 733px;*/
			width: 73%;
			float: left;
		}

		.clearFix .itemInfo h2 {
			margin-bottom: 5px;
		}

		.availability h2 {
			font-size: 26px;
			line-height: 1.4em;
		}

		.availability ul li {
			display: inline-block;
			margin-right: 25px;
		}

		.availability ul li:last-child {
			margin-right: 0;
		}

		.availability ul li a {
			color: #FFF;
			font-size: 18px;
			background:#d90000;
			padding: 5px 10px;
		}

		.availability ul li a:hover {
			color:#e2e2e2;
		}

		.promotion.block {
			padding: 0;
			overflow: hidden;
			background: #f4f4f4;
		}

		.promotion .indexSlider {
			width: 65%;
			float: left;
			height:auto;
		}

		/*sliders*/
			.indexSlider *,
			.navSlider * {
				outline: none;
			}

			.navSlider .slick-current {
				background: url(../images/shadowTop.png) no-repeat 0 0,
							url(../images/shadowBottom.png) no-repeat 0 100%;
				
				background-size: contain;
			}

			div.navSlider div.slick-current a {
				color: #000;
			}

			div.navSlider div.slick-current a:hover {
				color: #000;
			}

			.navSlider .descriptionLink {
				padding: 15px 0;
			}

			.navSlider div.descriptionLink p {
				margin-bottom: 0;
			}
		/*end slders*/

		.promotion img {
			/*max-width: 100%;*/
			display: block;
			height: 356px;
			width: 100%;
		}

		.promotion .indexSlider .imgWrap .redDiscount {
			position: absolute;
			top: 10px;
			left: 0;
			background: url(../images/15.png) no-repeat 0 0;
			background-size: contain;
			height: 100px;
			width: 100px;
		}

		.promotion .indexSlider .imgWrap .redDiscount p {
			color: #fff;
			position: absolute;
			top: 20%;
			left: 22%;
			text-align: center;
			font-size: 17px;
			font-weight: 100;
		}

		.promotion .indexSlider .imgWrap .redDiscount p span {
			font-weight: 700;
			line-height: 2em;
		}

		.promotion .indexSlider .imgWrap {
			overflow: hidden;
			position: relative;
		}

		.promotion .indexSlider img {
			width: 475px;
			border-radius: 5px 0 0 5px;
		}

		.promotion .itemInfo {
			overflow: hidden;
			padding: 10px 20px;
			/*line-height: 1.5em;*/
			line-height: 1.4em;
		}

		/*.promotion .description {
			background: url(../images/shadowTop.png) no-repeat 0 0,
						url(../images/shadowBottom.png) no-repeat 0 100%;
			padding: 15px 0;
			background-size: contain;
		}*/

		/*.promotion .descriptionLink {
			padding: 15px 0;
		}*/

		.promotion .descriptionLink p {
			/*margin-bottom: 30px;*/
			margin-bottom: 20px;
		}

		.promotion .itemInfo a {
			color: #363d75;
			text-decoration: none;
		}
		
		.promotion .itemInfo a:hover {
			color: #363d75;
		}

		.garanty ul {
			text-align: right;
		}

		.garanty ul li {
			display: inline-block;
			font-size: 13px;
			width: 140px;
			text-align: left;
			padding-top: 40px;
		}

		.garanty ul li:first-child {
			background: url(../images/Signatures1.png) no-repeat 0 0;
			margin-right: 3%;
		}

		.garanty ul li:last-child {
			background: url(../images/Signatures2.png) no-repeat 0 0;
		}

		.garanty ul li span {
			display: block;
		}

		.mapShipping {
			padding: 0;
			overflow: hidden;
		}

		.mapShipping h2 {
			padding: 10px 20px;
		}

		.mapShipping .mapA {
			height: 340px;
		}

		.content p {
			margin-bottom: 25px;
			line-height: 1.4em;
		}

		.content p:last-child {
			margin-bottom: 0;
		}
	/*end mainPart*/

	/*sideBar*/
		.sideBar {
			/*width: 240px;*/
			width: 24%;
			overflow: hidden;
			float: right;
		}

		.sideBar .news,
		.sideBar .usefulTips {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		.sideBar .news li a,
		.sideBar .usefulTips li a {
			text-decoration: none;
			font-weight:bold;
		}

		.sideBar .news li,
		.sideBar .usefulTips li {
			margin-bottom: 20px;
			line-height: 1.3em;
		}

		.sideBar .news li:last-child
		/*.sideBar .usefulTips li:last-child*/ {
			margin-bottom: 0;
		}

		.sideBar .news li a:hover,
		.sideBar .usefulTips li a:hover  {
			color: #363d75;
		}
	/*end sideBar*/
/*end index*/

/*katalog*/
	.katalog .mainKatalog  {
		padding: 10px 0;
	}

	.katalog .mainKatalogHeader,
	.katalog .filters {
		padding: 0 20px;
	}

	.katalog h2 {
		width: 110px;
		display: inline-block;
	}
	.katalog .popappss h2 {
		width: 100%;
		display: block;
	}
	.katalog .choose {
		display: inline-block;
		margin-bottom: 20px;
	}

	.katalog .choose li {
		display: inline-block;
		margin-right: 10px;
		border-radius: 5px;
		padding: 5px 10px;
		margin-bottom: 5px;
	}

	.katalog .choose li:last-child {
		margin-right: 0;
	}

	.katalog .choose li a { 
		text-decoration: none;
		border-bottom: 1px dotted #363d75;
		color: #363d75;
	}

	.katalog .choose li:hover {
		cursor: pointer;
	}

	.katalog .choose .active {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c6d0d3+0,e6eaef+100 */
		background: #c6d0d3; /* Old browsers */
		background: -moz-linear-gradient(top,  #c6d0d3 0%, #e6eaef 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #c6d0d3 0%,#e6eaef 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #c6d0d3 0%,#e6eaef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6d0d3', endColorstr='#e6eaef',GradientType=0 ); /* IE6-9 */
	}

	.katalog .choose .active a {
		color: #000;
		border: none;
	}

	.katalog form {
		margin-top: 15px;
		margin-bottom: 20px;
	}

	.katalog form.searchForm {
		position: relative;
	}

	.katalog .search {
		padding: 10px;
		padding-right: 35px;
		font-size: 16px;
		border: 1px solid #9fc5dc;
		background: url(../images/searchIcon.png) no-repeat 97% 50%;
	}

	.katalog .search.bgBug {
		background: #fff;
	}


	.katalog .search,
	.katalog .searchForm .searchResult {
		width: 440px;
		box-sizing: border-box;
	}

	.katalog .searchForm .searchResult {
		box-shadow: 0 1px 5px rgba(0,0,0,0.5);
		border: 1px solid #fff;
	}

	.katalog .searchForm .searchResult {
		position: absolute;
		top: 43px;
		left: 0;
		background-color: #fff;
		display: none;
		z-index: 100;
	}

	.katalog .searchForm .searchResult.active {
		display: block;
	}

	.katalog .searchForm .searchResult li {
		padding: 8px 10px;
		color: #aaa;
	}

	.katalog .searchForm .searchResult li:hover {
		cursor: pointer;
		background-color: #eee;
	}

	.katalog .searchForm .searchResult .closeSearchBtn {
		width: 20px;
		height: 20px;
		background: url(../images/searchCloseBtn.png) no-repeat 0 0;
		position: absolute;
		top: -32px;
		right: 10px;
	}

	.katalog .searchForm .searchResult .closeSearchBtn:hover {
		cursor: pointer;
	}





	.katalog .collectionsList {
		/*width: 21%;*/
		width: 201px;
		float: left;
		margin-right: 20px;
	}

	.katalog .collectionsList li {
		margin-bottom: 10px;
		padding: 5px;
		white-space: nowrap;
	}

	.katalog .collectionsList .active {
		background-color: #363d75;
		position: relative;
	}

	.katalog .collectionsList .active:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		border: 7px solid #363d75;
		border-right-color: #fff;
		border-top-color: #fff;
	}	

	.katalog .collectionsList .active:before {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		border: 7px solid #363d75;
		border-right-color: #fff;
		border-bottom-color: #fff;
	}

	.katalog .collectionsList .active a {
		color: #FFF;
		border: none;
		/*font-weight: 700;*/

		font-size: 15px;
		-webkit-transition: all 0.01s;
		-moz-transition: all 0.01s;
		-o-transition: all 0.01s;
		transition: all 0.01s;
	}

	.katalog .collectionsList .active a:hover {
		color: #FFF;
		border: none;
	}

	.katalog .collectionsList a {
		text-decoration: none;
		border-bottom: 1px dotted #363d75;
		color: #363d75;
	}

	.katalog .collectionsList a:hover {
		border-bottom: 1px dotted #363d75;
		color: #363d75;
	}

	.katalog .listResult {
		overflow: hidden;
		display:none;
		/*-moz-column-count: 4;
	    -moz-column-gap: 0px;
	    -webkit-column-count: 4;
	    -webkit-column-gap: 0px;
	    column-count: 4;
	    column-gap: 0px;*/
	}

	.katalog .listResult ul li {
	    /*width: 175px;*/
	    /*width: 171px;*/
	    width: 23%;
	    margin-bottom: 10px;
		padding: 5px;

		display: inline-block;
	}

	.katalog .listResult ul li a {
		text-decoration: underline;
		color: #363d75;
	}

	.katalog .listResult ul li a:hover {
		color: #363d75;
	}

	.katalog .listResult.a,
	.katalog .listResult.b,
	.katalog .listResult.c,
	.katalog .listResult.d,
	.katalog .listResult.e,
	.katalog .listResult.f,
	.katalog .listResult.g,
	.katalog .listResult.h,
	.katalog .listResult.i,
	.katalog .listResult.j,
	.katalog .listResult.k,
	.katalog .listResult.l {
		display: none;
	}

	/*lorem block*/
		.katalog .iWhantBlock.byCollection .loremBlock {
			padding-top: 20px;
			padding-left: 0;
			padding-right: 0;
			display: none;
		}

		/*.katalog .iWhantBlock.byCollection .loremBlock.show {
			display: block;
		}*/
	/*end lorem block*/

	/*filters*/
		.katalog .filters {
			margin-bottom: 35px;
			margin-right: 20px !important;
		}

		.katalog .filters li {
			display: inline-block;
			margin-right: 40px;
			margin-bottom: 10px;
			vertical-align: top;
		}

		.katalog .filters .firstFilters li:last-child {
			margin-right: 0;
		}

		.katalog .filters .firstFilters .moreParams {
			padding-top: 8px;
		}

		.katalog .secondFilters {
			margin-top: 0px;
			/*display: none;*/
		}

		.katalog .secondFilters .mySelect {
			margin-right: 44px;
		}

		.secondFilters.hide {
			position: absolute;
			top: -100%;
			display:none;
		}

		.katalog .secondFilters li:last-child {
			margin-right: 0;
		}

		/*type filter*/
			.katalog .filters .type {
				padding: 10px 20px;
				border-radius: 5px;
				margin-right: 16px;
			}

			.katalog .filters .type:first-child {
				margin-right: 0;
			}

			.katalog .filters .type:hover {
				cursor: pointer;
			}

			.katalog .filters .type.active {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c6d0d3+0,e6eaef+100 */
				background: #c6d0d3; /* Old browsers */
				background: -moz-linear-gradient(top,  #c6d0d3 0%, #e6eaef 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #c6d0d3 0%,#e6eaef 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #c6d0d3 0%,#e6eaef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6d0d3', endColorstr='#e6eaef',GradientType=0 ); /* IE6-9 */
			}

			.katalog .filters .type a {
				text-decoration: none;
				border-bottom: 1px dotted #363d75;
				color: #363d75;
			}

			.katalog .filters .type.active a {
				color: black;
				border: none;
			}
		/*end type filter*/

		/*palette filter*/
			.katalog .filters .palette .jq-selectbox__select,
			.selectCus .jq-selectbox__select {
				border-radius: 0;
				/*width: 123px;*/
				width: 156px;
				height: 35px;


				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edeff1+1,ffffff+100 */
				background: #edeff1; /* Old browsers */
				background: -moz-linear-gradient(top,  #edeff1 1%, #ffffff 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #edeff1 1%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #edeff1 1%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeff1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

			}

			.katalog .filters .palette .jq-selectbox__trigger,
			.selectCus .jq-selectbox__trigger {
				border-left: none;
			}

			.jq-selectbox__select-text {
				line-height: 34px;
				/*font-weight: 600;*/
				overflow: visible;
				font-size: 16px;
			}

			.jq-selectbox__dropdown {
				width: 100% !important;
			}
		/*end palette filter*/

		/*myFilters*/
			.mySelect {
				position: relative;
				border: 1px solid #c7d7e2;
				/*padding: 9px;*/

				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edeff1+1,ffffff+100 */
				background: #edeff1; /* Old browsers */
				background: -moz-linear-gradient(top,  #edeff1 1%, #ffffff 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #edeff1 1%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #edeff1 1%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeff1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			}

			.mySelect:hover,
			.katalog .palette:hover {
				border: 1px solid #363d75;
				cursor: default !important;
			}

			/*.mySelect:active,
			.katalog .palette:active {
				color: #999;
			}*/

			.mySelect:hover {
				cursor: pointer;
			}

			.mySelect .selected {
				width: 188px;
				background: url(../images/arrowDropDown.png) no-repeat 95% 50%;
			}

			.mySelect .selected .option {
				padding: 9px;
			}

			.mySelect .dropBox {
				position: absolute;
				background-color: white;
				width: 100%;
				left: 0;

				/*top: 102%;*/
				top: 111%;

				box-sizing: border-box;
				z-index: 200;
				display: none;


				box-shadow: 0 1px 5px rgba(0,0,0,0.5);
   				border: 1px solid #fff;
				height: 200px;overflow: auto;
			}

			.materials.mySelect .dropBox{height:110px;}
			.mater.mySelect .dropBox{height:70px;}
			.mat_true.mySelect .dropBox{height:180px;}

			
			
			
			.mySelect .dropBox .option.active {
				color: #999;
				display: none;
			}

			.mySelect .dropBox .option {
				padding: 9px;
			}

			.mySelect .dropBox .option:hover {
				background-color: #eee;
			}

			.katalog .mySelect.vDisabled {
				color: #999;
			}

			.katalog .mySelect.vDisabled .selected {
				background: url(../images/disabledArrow.png) no-repeat 95% 50%;
			}

			.katalog .mySelect.vDisabled:hover {
				border: 1px solid #c7d7e2;
			}

			.katalog .filters .palette.vDisabled {
				color: #999;
				border: 1px solid #c7d7e2;
			}

			.katalog .filters .palette.vDisabled .selected {
				background: url(../images/disabledArrow.png) no-repeat 95% 50%;
			}
		/*myFilters*/

		/*my palette*/
			div.katalog li.palette {
				position: relative;
				border: 1px solid #c7d7e2;
				/*padding: 9px;*/
				margin-right: 42px;

				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edeff1+1,ffffff+100 */
				background: #edeff1; /* Old browsers */
				background: -moz-linear-gradient(top,  #edeff1 1%, #ffffff 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #edeff1 1%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #edeff1 1%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeff1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			}

			.katalog .palette:hover {
				cursor: pointer;
			}

			.katalog .palette .selected {
				width: 188px;
				background: url(../images/arrowDropDown.png) no-repeat 95% 50%;
				height: 35px;
			}

			.katalog .palette .dropBox {
				position: absolute;
				background-color: #fff;
				width: 100%;
				left: 0;

				/*top: 102%;*/
				top: 110%;

				box-sizing: border-box;
				z-index: 500;
				display: none;

				box-shadow: 0 1px 5px rgba(0,0,0,0.5);
   				border: 1px solid #fff;
			}

			.katalog .palette .dropBox .option {
				padding: 9px;
			}

			.katalog .palette .dropBox .option:hover {
				background-color: #eee;
			}

			.katalog .palette .dropBox .option.active {
				color: #999;
				display: none;
			}

			.katalog .palette .dropBox .withColor {
				padding: 0px 9px;
			}

			.katalog .palette .option .colorMarker {
				margin: 2px;
				margin-bottom: 1px;
				height: 31px;
				width: 45px;
				display: inline-block;
			}

			.katalog .palette .withColor .text {
				position: relative;
				top: -11px;
			}

			.katalog .palette .selected .option {
				padding: 9px;
			}

			.katalog .palette .selected .withColor {
				padding: 0;
			}
		/*end my palette*/

		/*range filter*/
			.range {
			    -webkit-appearance: none;
			    position: absolute;
			    background: transparent !important;
			    height: 0px;
			    width: 96%;
			    top: 16px;
			}

			.range::-webkit-slider-runnable-track {
			    width: 100%;
			    height: auto;
			    background: transparent !important;
			    border: none;
			    border-radius: 3px;
			}

			.range::-webkit-slider-thumb {
			    -webkit-appearance: none;
			    height: 44px;
			    width: 30px;
			    border: 1px solid #d4d4d4;
			    border-radius: 3px;
			    /*background: transparent !important;*/
			    margin-top: -2px;
			    position: relative;
			    z-index: 200;
			    background: url(../images/rangeArrowTop.png) no-repeat 48% 15%,
			    	url(../images/rangeArrowBottom.png) no-repeat 48% 85%,
			    	rgba(255, 255, 255, 0.36);
			    /*background: url(../images/rangeBg.png) no-repeat 0 0;*/
			}

			.range:focus {
			    outline: none;
			}

			.range:focus::-webkit-slider-runnable-track {
			    background: #ccc;
			}

			input[type=number]::-webkit-inner-spin-button, 
			input[type=number]::-webkit-outer-spin-button { 
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    appearance: none;
			    margin: 0; 
			}

			.rangeResult {
				position: relative;
				z-index: 100;
				border: none;
				width: 100%;
				font-size: 16px;
				box-sizing: border-box;
				padding-left: 30px;
				background-color: transparent;
				/*font-weight: 600;*/
				font-size: 16px;
				top: 8px;
			}

			.rangeTest {
				width: 115px;
				position: relative;
				padding: 0;
				border: 1px solid #c7d7e2;
				height: 35px;


				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edeff1+1,ffffff+100 */
				background: #edeff1; /* Old browsers */
				background: -moz-linear-gradient(top,  #edeff1 1%, #ffffff 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #edeff1 1%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #edeff1 1%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeff1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

			}

			.rangeTest:before {
				content: "до";
				position: absolute;
				z-index: 200;
				font-size: 15px;
				color: #000;
				top: 25%;
				left: 5px;
				/*font-weight: 600;*/
			}

			.moreParams a {
				text-decoration: none;
				border-bottom: 1px dotted #363d75;
				color: #363d75;
				font-size: 14px;
			}
		/*end range filter*/
	/*end filters*/

	/*******just for a little*/
		.katalog .iWhantBlock {
			min-height: 190px;
		}

		.byCollection {
			padding: 0 20px;
		}

		.byParametrs {
			display: none;
		}
	/****************************/

	.katalog .show {
		background-color: #ffefb4;
		text-align: center;
		padding: 10px 20px;
		margin-bottom: 10px;
	}

	.katalog .show.toShow {
		text-align: left;
		
	}

	.katalog .show .wilShow {
		font-weight: 500;
		display: inline-block;
		
		display: none;
	}

	.katalog .show.toShow .wilShow {
		display: inline-block;
	}

	.katalog .showBtn {
		display: inline-block;
		background-color: #fff;
		border: 1px solid #cbcbcb;
		border-radius: 2px;
		padding: 10px;
		color: #000;
		margin-top:6px;
		text-decoration: none;
		float:right;
		-webkit-transition: all 0s;
		-moz-transition: all 0s;
		-o-transition: all 0s;
		transition: all 0s;
	}
.palette {margin-left:12px;margin-right: 45px !important;}
	.katalog .showBtn.right {
		position: relative;
		float:right;
	}

	.katalog .showBtn:hover {
		background-color: #eee;
	}

	.katalog .showBtn:active {
		background-color: #9c9c9c;
	}

	.katalog .show .canselChanges {
		text-decoration: none;
		border-bottom: 1px dotted #363d75;
		color: #363d75;
		display: none;
		font-size:10px;
	}

	.katalog .resultControlls {
		display: none;
		margin-bottom: 30px;
		padding: 0 20px;
		margin-top: 30px;
	}

	.katalog .resultControlls .wilShow {
		float: left;
		width: 50%;
	}

	/*fixed block*/
		.fixedBlock {
			position: fixed;
			top: -100%;
			right: 50%;
			width: 1000px;
			margin-right: -500px;
			box-sizing: border-box;
		}

		.fixedBlock.down {
			top: 0;
		}

		.fixedBlock .zeroWrap {
			background-color: #fff;
			
			width: 100%;
			padding: 10px 20px;
			padding: 10px 0 0 0;
			box-sizing: border-box;
min-height: 105px;
			box-shadow: 0 1px 5px rgba(0,0,0,0.5);
		}

		.fixedBlock .outPut {
			padding: 0 20px;
			margin-bottom: 20px;
		}

		.fixedBlock .show {
			margin-bottom: 0;

			text-align: left;
			padding-left: 20px;
		}

		.fixedBlock .outPut.hide {
			position: absolute;
			top: -100%;
		}

		.fixedBlock .filterChoosenResults {
			width: 79%;
			float: left;
			font-size: 15px;
		}

		.fixedBlock .filterChoosenResults li {
			display: inline-block;
			margin-right: 15px;
			
		}

		.filterChoosenResults #palette .colorMarker {
			position: relative;
			top: 2px;
			height: 15px;
			width: 15px;
			display: inline-block;
		}

		.filterChoosenResults .changeOutputResult {
			margin-right: 0 !important;
			/*margin-left: 25px;*/
		}

		.filterChoosenResults .changeOutputResult a {
			text-decoration: none;
			border-bottom: 1px dotted #363d75;
			color: #363d75;
			font-size: 14px;
			text-decoration: none;
			position: relative;
			top: 5px;
		}

		.fixedBlock .basketBox {
			width: 20%;
			float: right;

			position: relative;
			z-index: 1000;
		}

		.fixedBlock .basketBox .basket {
			background: url(../images/basket.png) no-repeat 0 0;
			padding-left: 55px;
			padding-top: 5px;
			width: 140px;
			float: right;
		}

		.fixedBlock .basket .someItems {
			color: #000;
		}

		/*.fixedBlock .basket .someItems:hover {
			color: #126392 !important;
		}*/

		.fixedBlock .secondLine {
			overflow: hidden;
			width: 50%;
			padding-top: 10px;
		}

		.fixedBlock h1 {
			clear: both;
			font-size: 15px;
			width: 60%;
			float: left;
			margin-top:15px;
		}

		.fixedBlock h1 a {
			font-size: 25px;
			text-decoration: none;
			color: #363d75;
		}

		.fixedBlock h1 span {
			margin-left: 5px;
		}

		.fixedBlock .togglePics {
			overflow: hidden;
			padding-top: 8px;
		}

		.fixedBlock .showBtn {
			margin-right: 25px;
		}

		.fixedBlock .show .canselChanges {
			display: inline;
		}
	/*end fixed block*/

	/*result block*/
		/*lorem block*/
			.katalog .iWhantBlock.byParametrs .loremBlock {
				padding-left: 0;
				padding-top: 0;
			}
		/*end lorem block*/

		.katalog .showFilterResults {
			display: none;
			padding: 0 20px;
		}

		.katalog .showFilterResults h2 {
			width: auto;
			margin-bottom: 5px;
		}

		.katalog .showFilterResults a {
			color: #363d75;
		}

		.katalog .showFilterResults a:hover {
			color: #363d75;
		}

		/*.katalog .showFilterResults .itemContent.hide {
			display: none;
		}*/

		.katalog .showFilterResults .bigImgWrap.hide {
			display: none;
		}

		.katalog .showFilterResults .smallElements {
			margin: 15px 0;
		}

		.katalog .showFilterResults .smallElements .smallItem {
			display:inline-block;
			margin-right: 30px;
		}

		.katalog .showFilterResults .smallElements .smallItem.smallSize {
			margin-bottom: 20px;
		}

		.katalog .showFilterResults .smallElements .smallItem.noFloat {
			float: none;
			overflow: hidden;
		}

		.katalog .showFilterResults .smallElements .smallItem.smallSize .imgWrap {
			height: 102px;
		}

		.katalog .showFilterResults .smallElements .smallItem.xSmallSize .imgWrap {
			height: 25px;
		}

		.katalog .showFilterResults .smallElements .smallItem:last-child {
			margin-right: 0;
		}

		.katalog .showFilterResults .smallElements h3 {
			font-size: 13px;
			margin: 8px 0;
		}

		.katalog .showFilterResults .smallElements .itemContent {
			position: relative;
			max-width: 220px;
		}

		.katalog .showFilterResults .smallElements a.pops {
			text-decoration: none;
			color: #000;
		}

		.katalog .showFilterResults .smallElements a.pops span.pops {
			color: #363d75;
		}

		.katalog .showFilterResults .smallElements a.pops:hover span.pops {
			color: #363d75;
		}

		.katalog .showFilterResults .smallElements a.pops:hover .itemName,
		.katalog .showFilterResults .smallElements a.pops:hover .itemPrice {
			cursor: default;
		}

		.katalog .showFilterResults .smallElements a.pops:hover .itemName span.pops {
			cursor: pointer;
		}

		.katalog .showFilterResults .smallElements h3 span.pops {
			text-decoration: none;
			font-size: 16px;
		}

		.katalog .showFilterResults .smallElements .itemPrice {
			font-size: 14px;
		}

		.katalog .showFilterResults .smallElements .itemPrice span {
			font-size: 16px;
		}
.katalog .showFilterResults .smallElements .hidenItems{
	display: inline-block;
	
}
		.katalog .showFilterResults .smallElements .hidenItems .showMoreItems {
			width: 90px;
			overflow: hidden;
		}

		.katalog .showFilterResults .smallElements.type1 .hidenItems .showMoreItems {
			position: relative;
			
		}

		.katalog .showFilterResults .smallElements.type2 .hidenItems .showMoreItems {
			position: relative;
			top: 20px;
		}

		.katalog .showFilterResults .smallElements.type3 .hidenItems .showMoreItems {
			position: relative;
			top: 30px;
		}

		.katalog .showFilterResults .smallElements .hidenItems .showMoreItems a {
			font-size: 15px;
			text-decoration: none;
			display: block;
			background: url(../images/3dots.png) no-repeat 40% 0;
			padding-top: 15px;
			-webkit-transition: all 0s;
			-moz-transition: all 0s;
			-o-transition: all 0s;
			transition: all 0s;
		}

		.katalog .showFilterResults .smallElements .hidenItems.active .showMoreItems {
			/*height: 335px;*//*??????????????????????????????????????????*/
			background: url(../images/dotsBg.png) repeat-y 45% 0%;
		}

		.katalog .showFilterResults .smallElements .hidenItems.active .showMoreItems a {
			background: url(../images/arrowDown.png) no-repeat 45% 85%,
				url(../images/3dots.png) no-repeat 40% 0;
			background-color: #fff;
			height: 62px;
		}

		.katalog .showFilterResults .smallElements .hidenItems.active .hidenItemsList  {
			display: block;
			width:95%;
		}

		.katalog .showFilterResults .smallElements .hidenItemsList {
			border: 1px dashed #b2b2b2;
			padding: 20px;
			padding-bottom: 0;
			float: left;
			display: none;
			position: relative;
			background-color: #fff;
		}

		.katalog .showFilterResults .hidenItems .smallItem {
			margin-bottom: 20px;
		}

		.katalog .showFilterResults .hidenItems .smallItem .imgWrap img {
			height: 307px;
		}
	/*end result block*/


	/*item popup*/
		.itemsPopUp {
			position: relative;
			
			top: -20px;
			display: none;
		}

		.itemsPopUp.active {
			display: block;
			z-index: 10000;
		}

		.itemsPopUp .oneItemPopUp {
			position: relative;
			margin-bottom: 0;
			border-radius: 0;
			padding:20px;
			display: none;
		}

		.itemsPopUp .oneItemPopUp.active {
			display: block;
		}

		.zeroBox .fixedBlock {
			position: relative;
			top: 0;
			right: 0;
			width: auto;
			margin-right: 0;
		}
.zeroBox2 .fixedBlock {
			position: relative;
			top: 0;
			right: 0;
			width: auto;
			margin-right: 0;
		}
		.itemsPopUp .oneItemPopUp a {
			color: #363d75;
			font-size: 15px;
			line-height: 1.3em;
		}

		.itemsPopUp .oneItemPopUp a:hover {
			color: #363d75;
		}

		.itemsPopUp .oneItemPopUp .closeBtn,
		.item .smallItem .itemContent .calculatorPopUp .closeBtn {
			position: absolute;
			width: 20px;
			height: 20px;
			background: url(../images/closePopUp.png) no-repeat 0 0;
			right: 70px;
			top: 20px;
			padding-left: 20px;
			color:#267CB7;
		}

		.itemsPopUp .oneItemPopUp .closeBtn:hover {
			cursor: pointer;
			background: url(../images/closePopUpHover.png) no-repeat 0 0;
		}

		.item .smallItem .itemContent .calculatorPopUp .closeBtn:hover {
			cursor: pointer;
			background: url(../images/closePopUpHover.png) no-repeat 0 0;
			background-size: contain;
		}

		.itemsPopUp .oneItemPopUp h2 {
			padding-right: 25px;
		}

		.itemsPopUp .oneItemPopUp h2 span {
			display: block;
		}

		.itemsPopUp .oneItemPopUp .box {
			float: left;
		}

		.itemsPopUp .oneItemPopUp .box.bigPicZoom {
			float: right;
			width: 68%;
		}

		.itemsPopUp .oneItemPopUp .box.bigPicZoom .bigPicImgLink {
			padding-left: 20px;
			background: url(../images/windows.png) no-repeat 0 50%;
		}

		.itemsPopUp .oneItemPopUp .box.bigPicZoom .bigPicImgLink:hover {
			background: url(../images/windowsHover.png) no-repeat 0 50%;
		}

		.my-containerForZoom {
			/*width: 650px;*/
			width: 100%;
			height: 500px;
			border: none;
		}

		.my-containerForZoom img {
			width: 100%;
			height: 100%;
		}

		.magnifier {
			border: none !important;
		}

		.itemsPopUp .oneItemPopUp .box.aboutItem {
			width: 29%;
		}

		.itemsPopUp .oneItemPopUp .toOrder {
			height: 146px;
			margin-top: 30px;
			position: relative;
		}

		.itemsPopUp .oneItemPopUp .toOrder .btn,
		.item .smallItem .itemContent .calculatorPopUp .btn {
			color: white;
			width: 110px;
			display: block;
			text-align: center;
			padding: 10px 0;
			font-size: 17px;
			text-decoration: none;
			border-radius: 3px;
			border: none;
			font-size: 15px;
			

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3dacde+0,1f6dab+100 */
			background: #3dacde; /* Old browsers */
			background: -moz-linear-gradient(top,  #3dacde 0%, #1f6dab 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #3dacde 0%,#1f6dab 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #3dacde 0%,#1f6dab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dacde', endColorstr='#1f6dab',GradientType=0 ); /* IE6-9 */
		}

		.itemsPopUp .oneItemPopUp .toOrder .btn:hover,
		.item .smallItem .itemContent .btn:hover {
			
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3dacde+0,1f6dab+100 */
			background: #3dacde; /* Old browsers */
			background: -moz-linear-gradient(top,  #1f6dab 0%, #3dacde 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #1f6dab 0%,#3dacde 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #1f6dab 0%,#3dacde 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6dab', endColorstr='#3dacde',GradientType=0 ); /* IE6-9 */
		}

		.itemsPopUp .oneItemPopUp .toOrder .btn:active,
		.item .smallItem .itemContent .btn:active {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3dacde+0,1f6dab+100 */
			background: #3dacde; /* Old browsers */
			background: -moz-linear-gradient(top,  #1f6dab 0%, #1f6dab 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #1f6dab 0%,#1f6dab 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #1f6dab 0%,#1f6dab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6dab', endColorstr='#1f6dab',GradientType=0 ); /* IE6-9 */
		}

		.noHover:hover {
			cursor: default !important; 


			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3dacde+0,1f6dab+100 */
			background: #3dacde !important; /* Old browsers */
			background: -moz-linear-gradient(top,  #3dacde 0%, #1f6dab 100%) !important; /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #3dacde 0%,#1f6dab 100%) !important; /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #3dacde 0%,#1f6dab 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dacde', endColorstr='#1f6dab',GradientType=0 ) !important; /* IE6-9 */
		}

		.itemsPopUp .oneItemPopUp .toOrder .orderPrice {
			font-weight: 700;
			font-size: 16px;
		}

		.itemsPopUp .oneItemPopUp .toOrder .calculatorPopUp,
		.item .smallItem .itemContent .calculatorPopUp {
			position: absolute;
			top: 0;
			top: -1000%;
			background-color: #fff;
			/*width: 100%;*/
			width: 278px;
			padding: 10px 20px;
			box-sizing: border-box;
			box-shadow: 0 2px 7px rgba(0,0,0,0.5);
			z-index: 100;
		}

		.item .smallItem .itemContent .calculatorPopUp {
			top: 0;
		}

		.itemsPopUp .oneItemPopUp .toOrder .calculatorPopUp.active,
		.item .smallItem .itemContent .calculatorPopUp.active {
			left: 0;
			top: 0;
		}

		.itemsPopUp .oneItemPopUp .toOrder .calculatorPopUp input,
		.item .smallItem .itemContent .calculatorPopUp input {
			width: 62px;
			border: 1px solid #83a8bc;
			font-size: 16px;
			padding: 8px 5px;
			background-color: #fff;
			margin-bottom:20px;
		}

		/*.itemsPopUp .oneItemPopUp .toOrder .calculatorPopUp form,
		.item .smallItem .itemContent .calculatorPopUp form {
			padding-top: 20px;
			padding-bottom: 40px;
		}
*/
		.itemsPopUp .oneItemPopUp .toOrder .calculatorPopUp form p,
		.item .smallItem .itemContent .calculatorPopUp form p {
			font-size: 13px;
			line-height: 1.4em;
		}

		.itemsPopUp .oneItemPopUp .toOrder .calculatorPopUp .btn,
		.item .smallItem .itemContent .calculatorPopUp .btn {
			font-size: 16px;
			/*position: absolute;
			left: -500%;*/
		}

		/*.itemsPopUp .oneItemPopUp .toOrder .calculatorPopUp .btn.active {
			position: static;
		}*/

		.itemsPopUp .oneItemPopUp .toOrder .calculatorPopUp .closeBtn,
		.item .smallItem .itemContent .calculatorPopUp .closeBtn {
			width: 12px;
			height: 12px;
			background-size: contain;
			top: 5px;
			right: 5px;
		}

		.itemsPopUp .oneItemPopUp .moreInfoWrap {
			padding-bottom: 30px;
		}

		.itemsPopUp .oneItemPopUp .moreInfoWrap .toggleInfo {
			display: none;
		}

		.itemsPopUp .oneItemPopUp .moreInfoWrap .toggleInfo li {
			margin-bottom: 10px;
		}

		.itemsPopUp .oneItemPopUp .moreInfoWrap .toggleInfo li:last-child {
			margin-bottom: 0;
		}

		.itemsPopUp .oneItemPopUp .moreInfoWrap .toggleInfo.active {
			display: block;
		}

		.itemsPopUp .oneItemPopUp .aboutItem {
			font-size: 15px;
		}

		.itemsPopUp .oneItemPopUp .aboutItem li {
			margin-bottom: 5px;
		}

		.itemsPopUp .oneItemPopUp .aboutItem li:last-child {
			margin-bottom: 0;
		}

		.itemsPopUp .oneItemPopUp .aboutItem ul {
			margin-bottom: 15px;
		}

		.itemsPopUp .oneItemPopUp .aboutItem ul:last-child {
			margin-bottom: 0;
		}

		.itemsPopUp .oneItemPopUp .aboutItem .moreInfo a {
			text-decoration: none;
			border-bottom: 1px dotted #363d75;
		}

		/*.itemsPopUp .oneItemPopUp .aboutItem .inTheSeries {
			display: none;
		}*/

		.itemsPopUp .oneItemPopUp .aboutItem .inTheSeries.active {
			display: block;
		}
	/*end item popup*/

	.shadow,
	.fixedShadow {
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: #000;
		opacity: 0.5;
	}

	
	.shadow.on {
		position: fixed;
	}

	.fixedShadow.on {
		position: absolute;
	}

	.zeroBox .fixedBlock .basketBox .basket,
	.zeroBox .fixedBlock .basketBox .basket a {
		color: #000;
	}

	.zeroBox .fixedBlock .basketBox .basket a:hover {
		color: #000 !important;
	}
		.zeroBox2 .fixedBlock .basketBox .basket,
	.zeroBox2 .fixedBlock .basketBox .basket a {
		color: #000;
	}

	.zeroBox2 .fixedBlock .basketBox .basket a:hover {
		color: #000 !important;
	}
/*end katalog*/

/*zakaz*/
	.zakaz .mainZakaz {
		min-height: 350px;
	}

	.zakaz a {
		color: #000;
	}

	.zakaz a:hover {
		color: #363d75;
	}

	.zakaz .steps.hide {
		position: absolute;
		top: -1000%;
		//display:none;
	}

	.zakaz .stepMap {
		margin-bottom: 30px;
	}

	.zakaz .stepMap ul li {
		display: inline-block;
		margin-right: 15px;
		padding-right: 30px;
		background: url(../images/arrowRight.png) no-repeat 100% 60%;
		margin-bottom: 5px;
		cursor:pointer;
	}

	.zakaz .stepMap ul li:last-child {
		background: none;
		margin-right: 0;
		padding-right: 0;
	}

	.zakaz .stepMap ul li.active a {
		color: #218bca;
		text-decoration: none;
		font-weight: 700;
	}

	.zakaz .stepMap ul li.active a:hover {
		color: #000;
		cursor: default;
	}

	.zakaz .stepMap ul li a:hover {
		cursor: default;
		color: #218BCA;
	}

	/*step0*/
		.zakaz .myChoosenItems .myItem.hide {
			display: none;
		}

		.zakaz .steps .myChoosenItems .box.calculator {
			width: 30%;
		}

		.zakaz .steps .myChoosenItems .box.calculator input {
			width: 75px;
			box-sizing: border-box;
			font-size: 16px;
			background-color: #fff;
			border: 1px solid #9fc5dc;
			padding: 10px 5px;


			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f4f5+0,fefefe+100 */
			background: #f3f4f5; /* Old browsers */
			background: -moz-linear-gradient(top,  #f3f4f5 0%, #fefefe 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #f3f4f5 0%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #f3f4f5 0%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f4f5', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
		}

		.zakaz .steps .myChoosenItems .box.calculator .countItems {
			margin-left: 5px;
		}

		.zakaz .steps .myChoosenItems .box.metters {
			display: none;
		}

		.zakaz .steps .myChoosenItems .box.closeBtn {
			width: auto;
			margin-top: 7px;
		}

		.zakaz .steps .myChoosenItems .box.closeBtn a {
			background: url(../images/closeBtn.png) no-repeat 0 0;
			display: block;
			height: 20px;
			width: 20px;
		}

		.zakaz .steps .btnsControl a {
			width: 122px;
		}

	/*end step0*/

	/*step1*/
		.zakaz .myChoosenItems .myItem {
			margin-bottom: 20px;
			position: relative;
		}

		.zakaz .myChoosenItems .box {
			float: left;
			width: 20%;
			margin-right: 2%;
		}

		.zakaz .myChoosenItems .box a {
			text-decoration: none;
			font-size: 16px;
			line-height: 1.2em;
		}

		.zakaz .myChoosenItems .imgWrap.box {
			width: 18%;
		}

		.zakaz .myChoosenItems .imgWrap img {
			max-width: 100%;
		}

		.zakaz .myChoosenItems .box.name p {
			margin-top: 15px;
		}

		.zakaz .myChoosenItems .box .ident {
			display: block;
		}

		.zakaz .step1 .myChoosenItems .box.calculator,
		.zakaz .step3 .myChoosenItems .box.calculator,
		.zakaz .step1 .myChoosenItems .box.closeBtn,
		.zakaz .step3 .myChoosenItems .box.closeBtn {
			display: none;
		}

		.zakaz .myChoosenItems .box.metters {
			display: block;
		}

		.zakaz .myChoosenItems .box.metters p {
			font-size: 18px;
			padding-top: 15px;
		}

		.zakaz .myChoosenItems .box.sum p {
			font-size: 28px;
			padding-top: 5px;
		} 

		.calculatedSum p
		{
			font-size: 24px;
		}
		.calculatedSum {
			margin-bottom: 15px;
		}

		.zakaz .btnsControl a,
		.zakaz .btnsControl input[type="submit"] {
			color: #fff;
			width: 110px;
			display: block;
			text-align: center;
			padding: 10px 0;
			font-size: 17px;
			text-decoration: none;
			border-radius: 3px;
			border: none;


			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3dacde+0,1f6dab+100 */
			background: #3dacde; /* Old browsers */
			background: -moz-linear-gradient(top,  #3dacde 0%, #1f6dab 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #3dacde 0%,#1f6dab 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #3dacde 0%,#1f6dab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dacde', endColorstr='#1f6dab',GradientType=0 ); /* IE6-9 */
		}

		.zakaz .btnsControl a:hover,
		.zakaz .btnsControl input[type="submit"]:hover {
			cursor: pointer;


			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f9fdd+0,0060aa+100 */
			background: #0f9fdd; /* Old browsers */
			background: -moz-linear-gradient(top,  #0f9fdd 0%, #0060aa 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #0f9fdd 0%,#0060aa 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #0f9fdd 0%,#0060aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f9fdd', endColorstr='#0060aa',GradientType=0 ); /* IE6-9 */

		}

		.zakaz .calculatedSum,
		.zakaz .btnsControl {
			padding-left: 42%;
		}
	/*end step1*/

	/*step2*/
		.zakaz .shippingType {
			margin-bottom: 25px;
		}

		.zakaz .shippingType li {
			display: inline-block;
			padding: 10px 10px;
			border-radius: 3px;
		}

		.zakaz .shippingType li:hover {
			cursor: pointer;
		}

		.zakaz .shippingType li a {
			text-decoration: none;
			border-bottom: 1px dotted #218BCA;
		}

		.zakaz .shippingType li.active {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c6d0d3+0,e6eaef+100 */
			background: #c6d0d3; /* Old browsers */
			background: -moz-linear-gradient(top,  #c6d0d3 0%, #e6eaef 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #c6d0d3 0%,#e6eaef 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #c6d0d3 0%,#e6eaef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6d0d3', endColorstr='#e6eaef',GradientType=0 ); /* IE6-9 */
		}

		.zakaz .shippingType li.active a {
			color: #000;
			border: none;
		}

		/*.zakaz .step2 .shippingBox.hidden {
			position: absolute;
			left: -100%;
		}*/

		.zakaz .step2 .shippingBox {
			position: absolute;
			top: -100%;
		}

		.zakaz .step2 .shippingBox.active {
			position: static;
			left: 0;
		}

		.zakaz .step2 .btnsControl {
			padding-left: 0;
		}

		.zakaz .inputsBlock .box {
			margin-bottom: 25px;
		}

		.zakaz .inputsBlock input,
		.zakaz .inputsBlock textarea {
			border: 1px solid #c7d7e2;
			padding: 8px 10px;
			font-size: 16px;
			margin-bottom: 5px;
			margin-top: 5px;
			box-sizing: border-box;
			max-width: 100%;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f4f5+0,fefefe+100 */
			background: #f3f4f5; /* Old browsers */
			background: -moz-linear-gradient(top,  #f3f4f5 0%, #fefefe 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #f3f4f5 0%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #f3f4f5 0%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f4f5', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

		}

		.zakaz .inputsBlock .adress input,
		.zakaz .inputsBlock textarea,
		.zakaz .step3 .commentBox {
			/*width: 53%;*/
			width: 500px;
			min-width: 200px;
		}

		.zakaz .inputsBlock input.alert {
			border: 2px solid red;
		}

		.zakaz .inputsBlock input {
			width: 200px;
		}

		.zakaz .inputsBlock textarea {
			height: 110px;
			font-family: "MyriadProRegular", sans-serif;
		}

		.zakaz .inputsBlock .inputPlaceholder {
			color: #aaa;
			font-size: 12px;
		}

		/*shippingType2*/
			.zakaz .step2 .shippingType2 .tel ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
				color: red;
			}
			.zakaz .step2 .shippingType2 .tel :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				color: red;
				opacity: 1;
			}
			.zakaz .step2 .shippingType2 .tel ::-moz-placeholder { /* Mozilla Firefox 19+ */
				color: red;
				opacity: 1;
			}
			.zakaz .step2 .shippingType2 .tel :-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: red;
			}
			.zakaz .step2 .shippingType2 .tel :placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
				color: red;
			}
		/*end shippingType2*/
	/*end step2*/

	/*step3*/
		.zakaz .step3 .inputsResults {
			padding-top: 15px;
		}

		.zakaz .step3 .inputsResults p {
			margin-bottom: 5px;
		}

		.zakaz .step3 .inputsResults .box {
			margin-bottom: 25px;
		}

		/*.zakaz .step3 .inputsResults .box:last-child {
			margin-bottom: 0;
		}*/

		.zakaz .step3 .adressBox .shippingType.hide {
			position: absolute;
			left: -100%;
		}

		.zakaz .step3 .btnsControl {
			padding-left: 0;
		}
	/*end step3*/
/*end zakaz*/

/*kontakty*/
	.kontakty a {
		font-weight:bold;
	}
	
	.kontakty p {
		margin: 0px;
	}

	.kontakty h3 {
		font-weight: 700;
		margin-bottom: 10px;
	}

	.kontakty .topAdress .topOneAdress {
		margin-bottom: 35px;
	}

	.kontakty .topAdress .topOneAdress .adress {
		float: left;
		margin-right: 20px;
	}

	.kontakty .topAdress .topOneAdress a {
		background: url(../images/windows.png) no-repeat 0 50%;
		padding-left: 20px;
	}

	.kontakty .topAdress .topOneAdress a:hover {
		background: url(../images/windowsHover.png) no-repeat 0 50%;
	}

	.kontakty .mapA {
		height: 431px;
		margin-bottom: 30px;
	}

	.ymaps-2-1-39-balloon {
		top: -108px !important;
	}

	/*.ymaps-2-1-39-balloon_to_top .ymaps-2-1-39-balloon__tail {
		-webkit-transform: rotate(0deg) !important;
		-moz-transform: rotate(0deg) !important;
		-ms-transform: rotate(0deg) !important;
		-o-transform: rotate(0deg) !important;
		transform: rotate(0deg) !important;
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-o-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}

	.ymaps-2-1-39-balloon_to_top .ymaps-2-1-39-balloon__tail {
		background-color: transparent !important;
		background: url(../images/foot.png) no-repeat 0 0 !important;
		width: 32px !important;
		height: 50px !important;
		left: 55px !important;
		box-shadow: none !important;
		top: 93% !important;
	}

	.ymaps-2-1-39-balloon_to_top .ymaps-2-1-39-balloon__tail:after,
	.ymaps-2-1-39-balloon_to_top .ymaps-2-1-39-balloon__tail:before {
		display: none;
	}

	.ymaps-2-1-35-balloon__close-button {
		height: 13px !important;
		width: 13px !important;
		margin-top: 7px !important;
		margin-right: 7px !important;
		background: url(../images/closeBaloon.png) no-repeat 0 0 !important;
	}*/

	.baloonAdress {
		width: 150px;
	}

	.baloonAdress p {
		margin-bottom: 0;
		line-height: 1.4em;
	}

	.baloonAdress .tittle {
		font-size: 15px;
		padding-left: 20px;
	}

	.baloonAdress.m1 .tittle,
	.kontakty .bottomAdress li .m1 {
		background: url(../images/m1.png) no-repeat 0 50%;
	}

	.baloonAdress.m2 .tittle,
	.kontakty .bottomAdress li .m2 {
		background: url(../images/m2.png) no-repeat 0 50%;
	}

	.baloonAdress.m3 .tittle,
	.kontakty .bottomAdress li .m3 {
		background: url(../images/m3.png) no-repeat 0 50%;
	}

	.baloonAdress.m4 .tittle,
	.kontakty .bottomAdress li .m4 {
		background: url(../images/m4.png) no-repeat 0 50%;
	}

	.baloonAdress.m5 .tittle,
	.kontakty .bottomAdress li .m5 {
		background: url(../images/m5.png) no-repeat 0 50%;
	}

	.baloonAdress.m6 .tittle,
	.kontakty .bottomAdress li .m6 {
		background: url(../images/m6.png) no-repeat 0 50%;
	}

	.baloonAdress.m7 .tittle,
	.kontakty .bottomAdress li .m7 {
		background: url(../images/m7.png) no-repeat 0 50%;
	}

	.baloonAdress.m8 .tittle,
	.kontakty .bottomAdress li .m8 {
		background: url(../images/m8.png) no-repeat 0 50%;
	}

	.baloonAdress.m9 .tittle,
	.kontakty .bottomAdress li .m9 {
		background: url(../images/m9.png) no-repeat 0 50%;
	}

	.baloonAdress.m10 .tittle,
	.kontakty .bottomAdress li .m10 {
		background: url(../images/m10.png) no-repeat 0 50%;
	}

	.baloonAdress .street {
		font-style: italic;
		margin-bottom: 5px;
	}

	.baloonAdress .yTell {
		font-size: 15px;
	}

	.baloonAdress .yTime {
		font-size: 12px;
		margin-bottom: 5px;
	}

	.kontakty .bottomAdress li {
		margin-bottom: 10px;
		min-height: 40px;
	}

	.kontakty .bottomAdress li .box {
		float: left;
		/*width: 28%;*/
		margin-bottom: 10px;
	}

	.kontakty .bottomAdress li .box.tittle {
		width: 220px;
	}

	.kontakty .bottomAdress li .box.link {
		width: 268px;
	}

	.kontakty .bottomAdress li .box.info {
		width: 256px;
	}

	.kontakty .bottomAdress li .box.market {
		/*float: right;*/
		width: 211px;
	}

	.kontakty .bottomAdress li h5 {
		padding-left: 25px;
	}

	.kontakty .bottomAdress li a {
		font-style: italic;
	}

	.kontakty .bottomAdress li .workingTime {
		font-size: 14px;
	}
/*end kontakty*/

/*poleznye sovety*/
	.tips a {
		color: #363d75;
		font-size: 16px;
	}

	.tips a:hover {
		color: #363d75;
	}

	.tips .linkList {
		margin-bottom: 60px;
	}

	.tips .linkList li {
		margin-bottom: 15px;
	}

	.tips .linkList li:last-child {
		margin-bottom: 0;
	}

	.tips .oneTip {
		margin-bottom: 40px;
	}

	.tips .oneTip:last-child {
		margin-bottom: 0;
	}

	.tips .oneTip h3 {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 25px;
	} 

	.tips .oneTip p {
		font-size: 16px;
		margin-bottom: 0;
		line-height: 1.3em;
	}
/*poleznye sovety*/

/*tekstovajaStranica*/
	.textPage a {
		color: #363d75;
		font-size: 16px;
	}

	.textPage .imgWrap img {
		max-width: 100%;
	}

	.textPage p {
		margin-bottom: 25px;
	}

	.textPage p:last-child {
		margin-bottom: 0;
	}

	.textPage .textBox {
		padding-top: 25px;
	}
/*end tekstovajaStranica*/

/*series*/
	.series .byParametrs,
	.series.katalog .showFilterResults {
		display: block;
	}

	.series .showFilterResults .comeBack {
		background: url(../images/leftArrow.png) no-repeat 0 60%;
		padding-left: 25px;
		text-decoration: none;
	}

	.series .showFilterResults .item {
		padding-top: 30px;
	}

	.series .item .smallElements .line {
		margin-bottom: 20px;
	}

	.series .item .smallElements .smallItem {
		margin-bottom: 20px;
	}

	.series .item .smallElements .smallItem .imgWrap img {
		max-width: 100%;
	}

	.series .item .smallElements .smallItem .smallNumber {
		font-size: 12px;
		color: #aaa;
	}

	.series .item .smallElements .smallItem.withWidth h3 {
		
		line-height: 1.5em;
		max-width: 180px;
		min-height: 80px;
	}

	.series .item .smallElements .smallItem .itemPrice {
		color: white;
			width: 110px;
			display: block;
			text-align: center;
			padding: 10px 0;
			font-size: 17px;
			text-decoration: none;
			border-radius: 3px;
			border: none;
			font-size: 15px;
			position: relative;
			

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3dacde+0,1f6dab+100 */
			background: #3dacde; /* Old browsers */
			background: -moz-linear-gradient(top,  #3dacde 0%, #1f6dab 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #3dacde 0%,#1f6dab 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #3dacde 0%,#1f6dab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dacde', endColorstr='#1f6dab',GradientType=0 ); /* IE6-9 */
	}

	.series .item .smallElements .smallItem .itemPrice:hover {
		cursor: pointer;
	}


/*end series*/

/*footer*/
	.footer {
		color: #fff;
	}

	.footer li {
		display: inline-block;
		color:#fff;
	}
	
	.footer ul{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.footer li:first-child {
		margin-right: 30px;
	}
/*end footer*/
.byParametrs{display:none;}
.clear{display:block;clear:both;width:100%;}
.dsd{color: #000;}
.marker.Black{color:#001eff;}
.calculatorPopUp22{display:none;color:#000;text-align:left;}
.hiners{display:inline-block;font-size:20px;margin-bottom:10px;margin-left:10px;}
.preoks{display:inline-block;font-size:15px;margin-bottom:10px;margin-left:10px;}
.bx_sitemap_ul ul {margin-left:10px;}
.bx_sitemap .bx_sitemap_li_title a{font-size:20px !important;}
.bx_sitemap .bx_sitemap_li_title{display:block !important;}
.color{display:inline-block;width:10px;height:10px;}
.bigImgWrap a img{max-width: 640px;width: 100%;}
.msg-box{
	background:#e2e2e2;
	padding:20px;
	display:none;
	position:absolute;
	opacity:.9;
	right:50px;
}
.msg-box.success{
	background:#cafdca;
}
.msg-box.err{
	background:#fdd4ca;
}
.box.weight
{
	display:none;
}
.mobile-basket-img
{
	display:none;
}
.togglePics{width: 300px;right: auto;margin-right: 0px;display: inline-block;margin-top: 15px;margin-left: 65px;}
.properssss{position: absolute;margin-left: -20px;margin-top: -20px;}