/*******************************************************1900******/
@media all and (max-width: 700px){
	*
	{
		box-sizing:border-box;
	}
	.header
	{
		margin-bottom:20px;
	}
	.header .box *
	{
		float:none !important;
	}
	.header .box
	{
		float:none !important;
		width:100%;
		max-width:100%;
		display:block;
		text-align:center;
	}
	.header .breack
	{
		display:inlinel;
	}
	.is1mark
	{
		display:none;
	}
	.header .basket
	{
		background:none;
		padding:0;
	}
	.basket .noItems.hide,
	.basket .someItems.hide
	{
		display:none;
	}
	.basket .noItems,
	.basket .someItems,
	.mobile-basket-img
	{
		display:inline-block;
		vertical-align:middle;
	}
	.nav
	{
		padding:0;
	}
	.nav ul li
	{
		display:block;
	}
	.nav ul li a
	{
		padding: 10px 0;
		display: block;
	}
	.mainSide
	{
		padding:0;
		margin:0;
	}
	.availability ul li,
	.availability ul li a
	{
		width:100%;
		padding:0;
		display: block;
	}
	.availability ul li a
	{
		padding: 0px 5px;
		margin: 10px 0;
		text-align: center;
		height: 40px;
		line-height: 40px;
		text-decoration: none;
		white-space:nowrap;
	}
	.availability.block h5
	{
		padding:0 !important;
		width:100%;
		display:block;
		font-size:1.2rem !important;
		margin-bottom:20px;
	}
	.promotion .indexSlider img
	{
		border-radius:5px;
	}
	.inputsBlock input
	{
		width:100% !important;
	}
	textarea
	{
		max-width:100% !important;
		min-width:100% !important;
		width:100% !important;
	}
	#order_body_list
	{
		overflow-x:hidden;
	}
	.calculatedSum *
	{
		display:inline-block;
		white-space:nowrap;
	}
	.katalog .choose li
	{
		padding:20px;
		width:100%;
		text-align:center;
	}
	.katalog .filters .type
	{
		margin:0 0 20px;
		text-align:center;
		width:50%;
	}
	.katalog .filters
	{
		margin:0 !important;
		padding:0;
	}
	.katalog .palette .selected,
	.mySelect .selected,
	.mySelect .dropBox
	{
		text-align:left;
		width:100%;
	}
	div.katalog li.palette,
	.katalog .secondFilters .mySelect
	{
		margin:0 0 20px;
		width:100%;
	}
	.katalog .filters li
	{
		width:100%;
		margin:0;
		text-align:center;
	}
	.rangeTest
	{
		width:100%;
	}
	.firstFilters
	{
		margin-bottom:20px;
	}
	.hotters
	{
		width: 100%;
		text-align: center;
		padding: 10px;
	}
	.hotters div a,
	.hotters div p
	{
		float:none !important;
		margin:0 !important;
	}
	.hotters div:last-child
	{
		margin-top:10px;
	}
	.hotters div
	{
		width: 100% !important;
		float: none !important;
		display: inline-block;
		text-align: center;
	}
	.katalog .show
	{
		padding:0;
		margin:0;
	}
	.katalog .mainKatalogHeader,
	.katalog .filters
	{
		padding:0 !important;
	}
	.katalog .filters .firstFilters .moreParams
	{
		padding:20px 20px 0;
	}
	.moreParams a
	{
		font-size:1.2rem;
	}
	.fixedBlock .basketBox .basket
	{
		background:none;
		margin:0;
		padding:0;
	}
	.katalog .showFilterResults
	{
		padding:0px;
		margin:0px;
	}
	.bigImgWrap img
	{
		width:100%;
	}
	.myChoosenItems table,
	.myChoosenItems tr,
	.myChoosenItems td
	{
		display:block;
		width:100% !important;
	}
	
	#order_body_list table,
	#order_body_list tr,
	#order_body_list td
	{
		display:block;
		width:100% !important;
	}
}

@media (max-width: 1920px) {
	.zeroBox {
		width: 73%;
	}
	.fixedBlock {
		width: 73%;
		margin: auto;
		left: 0;
		right: 0;
	}

	/*index*/
		.promotion .indexSlider img {
			width: 100%;
			height: auto;
		}
	/*end index*/
}
@media (min-width: 1540px) and (max-width: 1930px) {
}

/*******************************************************1900******/
@media (max-width: 1768px) {
	/*index*/
		.promotion .indexSlider img {
			width: 100%;
		}
	/*end index*/
}

/*******************************************************1326******/
@media (max-width: 1380px) {
	.zeroBox {
		width: 1000px;
	}
.zeroBox2 {
		width: 1000px;
	}
	.fixedBlock {
		width: 1000px;
		margin-right: -500px;
		right: 50%;
	}
}

/*******************************************************1170***B***/
@media (max-width: 1170px) {
}

/*******************************************************1040***B***/
@media (max-width: 1040px) {
	.zeroBox {
		width: auto;
	}
.zeroBox2 {
		width: auto;
	}
	.logo img {
		max-width: 100%;
	}
	/*katalog*/
	/*end katalog*/

	/*fixed block*/
		.fixedBlock {
			position: fixed;
			left: 0;
			padding: 0 20px;
			width: 100%;
			margin-right: 0;
			right: 0;
		}

		.zeroBox .fixedBlock {
			padding-left: 0;
			padding-right: 0;
		}
.zeroBox2 .fixedBlock {
			padding-left: 0;
			padding-right: 0;
		}
		.fixedBlock .basketBox {
			width: 195px;
		}

		.fixedBlock .filterChoosenResults {
			width: auto;
			margin-bottom: 10px;
		}

		.fixedBlock .filterChoosenResults li {
			margin-bottom: 5px;
		}

		.filterChoosenResults .changeOutputResult a {
			position: static;
		}

		.fixedBlock .basketBox .basket {
			margin-bottom: 10px;
		}
	/*end fixed block*/
}

/*******************************************************1018******/
@media (max-width: 1018px) {
	/*katalog*/
		.katalog .listResult {
			overflow: hidden;
			/*-moz-column-count: 3;
		    -moz-column-gap: 0px;
		    -webkit-column-count: 3;
		    -webkit-column-gap: 0px;
		    column-count: 3;
		    column-gap: 0px;*/
		}

		.katalog .listResult ul li {
			/*width: 96%;*/
			width: 31%;
		}
		.togglePics{right: auto !important; }
		
         .fixedBlock h1{margin-top: 35px !important;}
	/*end katalog*/

	/*zakaz*/	
		.zakaz .step0 .myChoosenItems .box.calculator input {
			width: 65px;
		}

		.zakaz .step0 .myChoosenItems .box.calculator {
			width: 28%;
		}
	/*end zakaz*/
}

/*******************************************************970***B***/
@media (max-width: 970px) {
	/*index*/
		/*.promotion .itemInfo {
			font-size: 14px;
		}*/
	.filters{max-width: auto !important;}
		.promotion .indexSlider {
			width: 56%;
		}

		.block {
			margin-bottom: 25px;
		}

		.sideBar .news li,
		.sideBar .usefulTips li {
			margin-bottom: 25px;
		}
	/*end index*/
}

/*******************************************************900******/
@media (max-width: 900px) {
	/*katalog*/
		/*.katalog .byParametrs .showFilterResults .item .hidenItemsList .smallItem {
			width: 30%;
		}

		.katalog .byParametrs .showFilterResults .item .hidenItemsList .imgWrap img {
			width: 100%;
			height: 307px;
		}*/

		.katalog .showFilterResults .smallElements .hidenItemsList {
			float: none;
		}
	/*end katalog*/
}

/*******************************************************855******/
@media (max-width: 855px) {
	/*index*/
		.header .box:first-child p {
			font-size: 13px;
		}

		.header .logo {
			margin-top: 10px;
		}
h1.name{max-width:400px;}
.bigPicZoom{display:none;}		
		.header .tel {
			float: none;
			text-align: center;
			margin: 0;
		}

		.header .workTime {
			font-size: 13px;
		}

		.header .tel,
		.header .workTime {
			float: none;
			text-align: center;
			margin: 0;
		}

		.header .basket {
			margin-top: 10px;
			font-size: 15px;
			background-size: 20%;
			background-position: 12px 0;
			float: none;
			width: 100%;
		}
		.promotion .itemInfo h2 {
			margin-bottom: 5px;
		}

		.promotion .itemInfo {
			padding: 10px;
		}

		.promotion .descriptionLink p {
			margin-bottom: 15px;
		}

		.block {
			margin-bottom: 20px;
		}

		.sideBar .news li,
		.sideBar .usefulTips li {
			margin-bottom: 20px;
			font-size: 15px;
		}
	/*end index*/

	/*katalog*/
		.katalog .listResult {
			overflow: hidden;
			/*-moz-column-count: 2;
		    -moz-column-gap: 0px;
		    -webkit-column-count: 2;
		    -webkit-column-gap: 0px;
		    column-count: 2;
		    column-gap: 0px;*/
		}

		.katalog .listResult ul li {
			width: 44%;
		}

		/*fixed block*/
			.fixedBlock.down .katalog .show .wilShow,
			.fixedBlock.down .katalog .showBtn,
			.fixedBlock.down .katalog .show .canselChanges {
				font-size: 15px;
			}
		/*end fixed block*/

		/*item*/
			/*type2*/
				.katalog .showFilterResults .item .smallElements.type2 .noFloat {
					margin-right: 0;
				}
			/*end type2*/
			/*type3*/
				.katalog .showFilterResults .item .smallElements.type3 .noFloat {
					margin-right: 0;
				}
			/*end type2*/
		/*end item*/
	/*end katalog*/

	/*zakaz*/
		.zakaz .myChoosenItems .box {
			margin-right: 20px;
		}

		.zakaz .myChoosenItems .imgWrap.box {
			width: 150px;
			margin-bottom: 15px;
		}

		/*step0*/
			.zakaz .step0 .myChoosenItems .name.box {
				width: 165px;
				margin-right: 0;
			}

			.zakaz .step0 .myChoosenItems .box.calculator {
				clear: left;
				width: 206px;
				margin-bottom: 10px;
			}

			.zakaz .step0 .myChoosenItems .box.sum {
				width: 147px;
				margin-right: 0;
				padding-top: 2px;
			}

			.zakaz .step0 .myChoosenItems .box.closeBtn {
				position: absolute;
				top: 0px;
				right: 0px;
				margin: 0;
			}
		/*end step0*/

		/*step1 2*/
			.zakaz .step1 .myChoosenItems .name.box,
			.zakaz .step3 .myChoosenItems .name.box {
				width: 165px;
				margin-right: 5%;
			}

			.zakaz .step1 .myChoosenItems .metters.box,
			.zakaz .step3 .myChoosenItems .metters.box {
				width: 83px;
				margin-right: 5%;
			}

			.zakaz .step1 .myChoosenItems .box.sum,
			.zakaz .step3 .myChoosenItems .box.sum {
				width: 135px;
				margin-right: 0;
			}
		/*end step1 2*/
	/*end zakaz*/

	/*kontakty*/
		.kontakty .topAdress .topOneAdress .adress {
			float: none;
			margin-right: 0;
			line-height: 1.2em;
		}
	/*end kontakty*/
}

/*******************************************************750***B***/
@media (max-width: 750px) {
	

	/*index*/

		.header .tel {
			font-size: 18px;
		}

		/*.header .basket {
			font-size: 14px;
			width: 123px;
			padding-left: 33px;
			background-position: 0 5px;
			background-size: 18%;
		}*/

		.header .basketBox {
			float: none;
			width: 100%;
		}

		.header .basket {
			float: none;
			width: 100%;
		}

		.header .box:first-child p {
			font-size: 11px;
		}

		.header .box:first-child {
			width: 100%;
		}

		.header .box:nth-child(2) {
			float:none;
			width:100%;
			margin-top:10px;
		}

		.header .tel {
			font-size: 20px;
		}

		.nav a {
			font-size: 15px;
		}

		.nav ul li {
			margin-right: 15px;
		}

		h2 {
			font-size: 18px;
			margin-bottom: 10px;
		}

		/*.promotion .imgWrap {
			width: 56%;
		}*/

		/*.promotion .indexSlider {
			width: 56%;
		}*/

		.promotion .indexSlider {
			width: 100%;
			float: left;
		}

		.promotion .indexSlider img {
			width: 100%;
		}

		.block {
			margin-bottom: 15px;
		}

		.sideBar .news li,
		.sideBar .usefulTips li {
			margin-bottom: 15px;
			font-size: 14px;
		}

		.sideBar {
			width: 26%;
		}

		.mainPart {
			width: 71%;
		}
	/*end index*/

	/*katalog*/

		.katalog .collectionsList li,
		.katalog .listResult ul li {
			margin-bottom: 5px;
		}

		.katalog .collectionsList a {
			font-size: 14px;
		}

		.katalog .collectionsList .active a {
			font-size: 14px;
		}

		.katalog .listResult ul li a {
			font-size: 14px;
		}

		.katalog .collectionsList {
			width: 191px;
			margin-right: 5px;
		}

		.katalog .byParametrs .resultControlls .wilShow {
			float: none;
			margin-bottom: 15px;
			width: auto;
		}

		/*fixed block*/
			.fixedBlock h1 {
				float: none;
				width: auto !important;
				margin-top: 25px !important;
			}
.togglePics{right: auto !important; }
			.fixedBlock h1 a {
				font-size: 20px;
			}

			.fixedBlock .show .canselChanges {
				width: 269px;
				display: block;
				margin-top: 15px;
			}
		/*end fixed block*/

		/*item*/
			.katalog .byParametrs .showFilterResults .item .bigImgWrap img {
				width: 100%;
			}

			/*type2*/
				.katalog .showFilterResults .item .smallElements.type2 .smallItem:first-child {
					float: none;
					margin-bottom: 20px;
					margin-right: 0;
				}

				.katalog .showFilterResults .item .smallElements.type2 .smallItem:first-child img {
					max-width: 100%;
				}

				.katalog .showFilterResults .item .smallElements.type2 .active .showMoreItems {
					height: 105px !important;
				}
			/*end type2*/
		/*end item*/

		/*itemsPopUp*/
			.itemsPopUp .oneItemPopUp .box.bigPicZoom {
				width: 64%;
			}

			.my-containerForZoom {
				height: 400px;
			}
		/*end itemsPopUp*/
	/*end katalog*/

	/*zakaz*/
		.zakaz .calculatedSum,
		.zakaz .btnsControl {
			padding-left: 0;
		}

		/*step1*/
			.zakaz .step1 .myChoosenItems .name.box,
			.zakaz .step3 .myChoosenItems .name.box {
				margin-right: 0;
			}

			.zakaz .step1 .myChoosenItems .name.box p,
			.zakaz .step3 .myChoosenItems .name.box p {
				margin-top: 5px;
			}

			.zakaz .step1 .myChoosenItems .metters.box,
			.zakaz .step3 .myChoosenItems .metters.box {
				width: 83px;
				margin-right: 5%;
				clear: left;
			}

			.zakaz .step1 .myChoosenItems .box.sum,
			.zakaz .step3 .myChoosenItems .box.sum {
				width: 135px;
				margin-right: 0;
			}
		/*end step1*/
	/*end zakaz*/
}

/*******************************************************600******/
@media (max-width: 600px) {
	/*index*/
		/*.header {
			margin-bottom: 20px;
		}*/

		/*.header .basketBox {
			position: absolute;
			bottom: 0;
			right: 0;
		}

		.header .basket {
			font-size: 16px;
			width: 137px;
			padding-left: 48px;
			background-size: 22%;
			background-position: 0 3px;
		}*/

		/*.header .box:first-child {
			width: 55%;
		}

		.header .box:nth-child(2) {
			float: right;
			width: 42%;
		}

		.header .tel {
			font-size: 20px;
		}

		.nav {
			padding: 15px 0;
			padding-bottom: 42px;
		}

		.nav a {
			font-size: 15px;
		}

		.nav ul li {
			margin-right: 15px;
		}*/
		.mainPart,
		.sideBar {
			width: 100%;
			float: none;
		}

		.sideBar {
			display: none;
		}

		.mainSide .mainPart .news.block,
		.mainSide .mainPart .usefulTips.block {
			display: block;
		}

		.sideBar .news li,
		.sideBar .usefulTips li {
			font-size: 16px;
		}

		.zeroBox {
			padding: 15px;
		}
.zeroBox2 {
			padding: 15px;
		}
		.promotion img {
			height: auto;
		}

		/*.promotion .indexSlider {
			width: 100%;
			float: left;
		}

		.promotion .indexSlider img {
			width: 100%;
		}*/

		/*.promotion .imgWrap {
			width: 100%;
			float: none;
		}*/

		.promotion .itemInfo {
			font-size: 16px;
		}
	/*end index*/

	/*katalog*/
		.katalog .search {
			width: 83%;
			box-sizing: border-box;
		}

		.katalog .byParametrs .showFilterResults .item .smallElements.type1 .smallItem:nth-child(2) {
			float: none;
		} 

		.katalog .byParametrs .showFilterResults .item .smallElements.type1 .smallItem {
			margin-bottom: 15px;
		}

		/*fixed block*/
			.fixedBlock {
				padding: 0 15px;
			}
		/*end fixed block*/

		/*item*/
			.katalog .showFilterResults .hidenItems .smallItem {
				margin-bottom: 20px;
			}

			/*item*/
				/*type 3*/
					.katalog .showFilterResults .item .smallElements.type3 .noFloat {
						clear: left;
					}

					.katalog .showFilterResults .item .smallElements.type3 .showMoreItems a {
						margin-bottom: 20px;
					}

					.katalog .showFilterResults .item .smallElements.type3 .active .showMoreItems {
					height: 118px !important;
				}
				/*end type3*/
			/*end tem*/
		/*end item*/

		/*itemsPopUp*/
			.itemsPopUp .box.bigPicZoom {
				position: absolute;
				top: -1000%;
			}

			.tracker {
				display: none !important;
			}

			.itemsPopUp .oneItemPopUp .box.aboutItem {
				float: none;
				width: auto;
			}

			.itemsPopUp .oneItemPopUp .box.aboutItem .imgWrap {
				margin-right: 10px;
				float: left;
				width: 140px;
				margin-bottom: 15px;
			}

			.itemsPopUp .oneItemPopUp .box.aboutItem .imgWrap img {
				max-width: 100%;
			}

			.itemsPopUp .oneItemPopUp .box.aboutItem .toOrder {
				padding-left: 155px;
			}

			.itemsPopUp .oneItemPopUp .toOrder .btn {
				width: 100px;
			}

			.itemsPopUp .oneItemPopUp .box.aboutItem .moreInfo,
			.itemsPopUp .oneItemPopUp .box.aboutItem .inTheSeries {
				clear: left;
			}

			.itemsPopUp .oneItemPopUp .toOrder .calculatorPopUp.active {
				left: auto;
				right: 0;
			}

			.itemsPopUp .oneItemPopUp .toOrder .calculatorPopUp {
				width: 256px;
				padding: 10px;
			}
		/*end itemsPopUp*/
	/*end katalog*/

	/*zakaz*/
		.zakaz .stepMap a {
			font-size: 14px;
		}

		.zakaz .stepMap ul li {
			margin-right: 7px;
			padding-right: 25px;
			background-position: 100% 63%;
		}

		/*step3*/
			.zakaz .inputsBlock .adress input,
			.zakaz .inputsBlock textarea,
			.zakaz .step3 .commentBox {
				width: 100%;
			}
		/*end step3*/
	/*end zakaz*/	

	/*tips*/
		.tips .linkList {
			margin-bottom: 40px;
		}

		.tips .oneTip h3 {
			margin-bottom: 15px;
		}

		.tips .oneTip {
			margin-bottom: 25px;
		}
	/*end tips*/

	/*tekstovajaStranica*/
		.textPage p {
			margin-bottom: 15px;
		}
	/*end tekstovajaStranica*/

	/*series*/
		.series .item .smallElements .line .smallItem {
			margin-right: 0;
		}
	/*end series*/
}

/*******************************************************495******/
@media (max-width: 495px) {
	h1.name{margin-top:30px;}
	/*index*/
		.header .tel {
			margin-top: 0;
			margin-bottom: 5px;
			font-size: 18px;
		}

		.header .workTime {
			font-size: 12px;
		}

		.garanty h2 br {
			display: none;
		}
	/*end index*/

	/*katalog*/
		.katalog .listResult {
			overflow: hidden;
			/*-moz-column-count: 1;
		    -moz-column-gap: 0px;
		    -webkit-column-count: 1;
		    -webkit-column-gap: 0px;
		    column-count: 1;
		    column-gap: 0px;*/

		    /*word-break: break-all;*/
		}

		.katalog .listResult ul li {
			width: 100%;
		}

		.katalog .show {
			text-align: left;
		}

		.katalog .showBtn.right {
			left: 0;
		}

		.katalog .showFilterResults .hidenItems .smallItem {
			float: none;
			margin-right: 0;
		}

		.katalog .showFilterResults .hidenItems .smallItem .imgWrap img {
			max-width: 100%;
		}

		/*item*/
			
		/*end item*/
	/*end katalog*/

	/*zakaz*/
		.zakaz .calculatedSum p {
			line-height: 1.3em;
		}

		.zakaz .stepMap a {
			font-size: 13px;
		}

		.zakaz .stepMap ul li {
			margin-right: 5px;
			background-position: 100% 70%;
		}
	/*end zakaz*/
}

/*******************************************************436******/
@media (max-width: 436px) {
	/*index*/
		.header .breack {
			display: inline;
		}

		.header .logo {
			margin-top: 5px;
		}

		.header .box:first-child {
			width: 100%;
		}

		.header .box:nth-child(2) {
			float:none;
			width: 100%;
			margin-top:10px;
		}

		.header .tel {
			float: none;
			text-align: center;
			margin: 0;
		}

		.garanty ul li {
			width: 130px;
			font-size: 11px;
			background-size: contain;
		}

		.footer li:first-child {
			font-size: 14px;
			display: block;
			margin-bottom: 10px;
		}
	/*end index*/

	/*katalog*/
		.katalog .search {
			font-size: 14px;
		}

		.katalog form {
			margin-bottom: 15px;
		}

		.katalog .collectionsList {
			/*width: 170px;*/
			width: 50%;
		}

		.katalog .collectionsList .active:after,
		.katalog .collectionsList .active:before {
			display: none;
		}	

		.katalog .collectionsList a,
		.katalog .collectionsList .active a,
		.katalog .listResult ul li a {
			font-size: 12px;
		}

	/*end katalog*/

	/*zakaz*/
		.zakaz .myChoosenItems .imgWrap.box {
			float: none;
		}

		.zakaz .step0 .myChoosenItems .name.box {
			margin-bottom: 15px;
			width: auto;
			float: none;
		}

		.zakaz .step0 .myChoosenItems .name.box br {
			display: none;
		}

		.zakaz .step0 .myChoosenItems .name.box p {
			margin-top: 5px;
		}
	/*end zakaz*/
}

/*******************************************************351******/
@media (max-width: 351px) {
	.loremBlock  {
		padding: 10px;
	}

	.fixedBlock .outPut {
		padding-left: 10px;
		padding-right: 10px;
	}

	/*.fixedBlock.down {
		padding-left: 10px;
		padding-right: 10px;
	}*/

	/*.katalog .filters {
		padding-left: 0;
		padding-right: 0;
	}*/

	/*index*/
		.header .box:first-child {
			float:none;
			width: 100%;
		}

		.header .tel {
			float: none;
			text-align: center;
			margin: 0;
		}

		.garanty ul {
			text-align: left;
		}

		.garanty ul li {
			display: block;
			margin-bottom: 15px;
			margin-right: 0;
			font-size: 12px;
		}
	/*end index*/

	/*katalog*/
		.katalog .choose li {
			margin-right: 0;
			margin-bottom: 5px;
		}

		.katalog .choose li a {
			font-size: 14px;
		}

		.katalog .search {
			/*width: 100%;*/
		}

		.katalog .show .wilShow {
			margin-bottom: 10px;
		}

		.katalog .show .wilShow,
		.katalog .filters .type a,
		.katalog .firstFilters,
		.katalog .secondFilters,
		.rangeResult {
			font-size: 15px;
		}
	/*end katalog*/
}

/*******************************************************319******/
@media (max-width: 319px) {
	/*index*/
		body {
			width: 316px;
			overflow-x: visible;
		}
	/*end index*/

	/*fixed block*/
		.fixedBlock {
			width: 316px;
		}
	/*end fixed block*/
}